force-app/main/default/flows/ALK_Crear_Orden_de_Trabajo_Reprogramacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Reprogramada_Status</name>
        <label>Assign Reprogramada Status</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Loop_Service_Appoitments.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reprogramada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SAs_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SAs_to_Update</name>
        <label>Assign SAs to Update</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>AssignSAUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Service_Appoitments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Appoitments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_WO_to_variable</name>
        <label>assign WO to variable</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>WOUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWorkOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Original_WO_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Original_WO_Status</name>
        <label>Update Original WO Status</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>WOUpdate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reprogramada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Service_Appointments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Custom_Permission</name>
        <label>Check Custom Permission</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Missing_permission_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Can_create_FUP_work_order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.ALK_Allow_Followup_WO_Creation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWorkOrder</targetReference>
            </connector>
            <label>Can create FUP work order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WO_Status</name>
        <label>Check WO Status</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Incompleta_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Different from incompleta</defaultConnectorLabel>
        <rules>
            <name>Is_Status_Incompleta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incompleta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_WO_to_variable</targetReference>
            </connector>
            <label>Is Status Incompleta</label>
        </rules>
    </decisions>
    <interviewLabel>ALK Crear {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Crear Orden de Trabajo Reprogramacion</label>
    <loops>
        <name>Loop_Service_Appoitments</name>
        <label>Loop Service Appoitments</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_Related_Service_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Reprogramada_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_child_WO_0</name>
        <label>Create child WO</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignRecordIdToReference>childWO.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ALK_Authorized_Person__c</field>
            <value>
                <elementReference>getWorkOrder.ALK_Authorized_Person__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Cantidad__c</field>
            <value>
                <elementReference>getWorkOrder.ALK_Cantidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Cellphone_Number__c</field>
            <value>
                <elementReference>getWorkOrder.ALK_Cellphone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Email_Address__c</field>
            <value>
                <elementReference>getWorkOrder.ALK_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Fecha_Compra__c</field>
            <value>
                <elementReference>getWorkOrder.ALK_Fecha_Compra__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_FollowUp_WO__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Numero_Factura__c</field>
            <value>
                <elementReference>getWorkOrder.ALK_Numero_Factura__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Recomendaciones_Generales__c</field>
            <value>
                <elementReference>getWorkOrder.ALK_Recomendaciones_Generales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Telefono__c</field>
            <value>
                <elementReference>getWorkOrder.ALK_Telefono__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Tienda_Compra__c</field>
            <value>
                <elementReference>getWorkOrder.ALK_Tienda_Compra__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getWorkOrder.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>getWorkOrder.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>getWorkOrder.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>getWorkOrder.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>getWorkOrder.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentWorkOrderId</field>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>getWorkOrder.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getWorkOrder.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>getWorkOrder.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>getWorkOrder.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>No Asignada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>getWorkOrder.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>getWorkOrder.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>getWorkOrder.WorkTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Service_Appointments</name>
        <label>Get Related Service Appointments</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Service_Appoitments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_WO_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Create_child_WO_0</targetReference>
        </connector>
        <inputReference>AssignSAUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
        <inputReference>WOUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Incompleta_Error_Screen</name>
        <label>Incompleta Error Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Incompleta_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 38, 38);&quot;&gt;Para reprogramar una orden de trabajo, su estado debe ser Incompleto.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Missing_permission_screen</name>
        <label>Missing permission screen</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 38, 38);&quot;&gt;Tu usuario no tiene permiso para reprogramar la orden de trabajo, comuníquese con el Administrador de Field Service.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(224, 36, 36);&quot;&gt;La nueva orden de trabajo fue creada con éxito.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Custom_Permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignSAUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>childWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
