force-app/main/default/flows/ALK_Start_Questionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Answers_Aire_Acondicionado</name>
        <label>Assign Answers Aire Acondicionado</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Instalado_Aire_Acondicionado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo_del_Producto_Aire_Acondicionado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Producto_Aire_Acondicionado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Good_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_en_buen_estado_Aire_Acondicionado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Electricity_Near_Instalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Punto_electrico_en_el_lugar_de_instalacion_Aire_Acondicionado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_In_Place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_esta_en_el_lugar_de_instalacion_Aire_Acondicionado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Start_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Handler_Corresponds_Condenser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Corresponde_la_manejadora_con_la_condensadora_Aire_Acondicionado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Air_Voltage_Corresponds_Instalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>El_voltaje_del_Aire_corresponde_al_voltaje_del_lugar_de_instalaci_n</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Formato_con_condiciones_del_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formato_con_condiciones_del_servicio_aires</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Gasodomesticos</name>
        <label>Assign Answers Gasodomesticos</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Instalado_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo_del_Producto_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Producto_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Good_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_en_buen_estado_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Ignites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Enciende_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Electricity_Near_Instalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Punto_electrico_en_el_lugar_de_instalacion_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Gas_Near_Instalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Punto_a_gas_en_el_lugar_de_instalaci_n_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_In_Place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_esta_en_el_lugar_de_Instalaci_n_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instalation_Kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KIT_de_Instalaci_n_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Formato_con_condiciones_del_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formato_con_condiciones_del_servicio_gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Start_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Lavadoras</name>
        <label>Assign Answers Lavadoras</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Instalado_Lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo_del_Producto_Lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Producto_Lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Good_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_en_buen_estado_Lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Ignites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Enciende_Lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Electricity_Near_Instalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Punto_electrico_en_el_lugar_de_instalacion_Lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Drain_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cuenta_con_punto_de_desag_e_en_el_lugar_de_instalacion_Lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_In_Place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Punto_electrico_en_el_lugar_de_instalacion_Lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Start_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Formato_con_condiciones_del_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formato_con_condiciones_del_servicio_lavadoras</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Lavaplatos</name>
        <label>Assign Answers Lavaplatos</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Instalado_Lavaplatos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo_del_Producto_Lavaplatos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Producto_Lavaplatos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Good_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_en_buen_estado_Lavaplatos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Electricity_Near_Instalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Punto_electrico_en_el_lugar_de_instalacion_Lavaplatos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_In_Place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_esta_en_el_lugar_de_instalacion_Lavaplatos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Start_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instalation_Kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KIT_de_Instalacion_Lavaplatos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Water_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cuenta_con_punto_de_agua_en_el_lugar_de_instalaci_n_lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Formato_con_condiciones_del_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formato_con_condiciones_del_servicio_lavaplatos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Muebles</name>
        <label>Assign Answers Muebles</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Instalado_Muebles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo_del_Producto_Muebles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_All_Furniture_Pieces__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Piezas_del_mueble_completas_Muebles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_In_Place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_esta_en_el_lugar_de_instalacion_muebles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instalation_Kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KIT_de_Instalacion_Muebles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Good_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_en_buen_estado_muebles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Start_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Formato_con_condiciones_del_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formato_con_condiciones_del_servicio_muebles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Nevecones</name>
        <label>Assign Answers Nevecones</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Instalado_Nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo_del_Producto_Nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Producto_Nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Good_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_en_buen_estado_Nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Ignites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Enciende_Nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Electricity_Near_Instalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Punto_electrico_en_el_lugar_de_instalacion_Nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_In_Place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_esta_en_el_lugar_de_instalacion_Nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Start_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Water_Point__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cuenta_con_punto_de_agua_en_el_lugar_de_instalaci_n_Nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Formato_con_condiciones_del_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formato_con_condiciones_del_servicio_nevecones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Video</name>
        <label>Assign Answers Video</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Good_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_en_buen_estado_video_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Ignites__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Enciente_video_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Electricity_Near_Instalation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Punto_electrico_en_el_lugar_de_instalacion_Video_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instalation_Kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KIT_de_Instalacion_Video_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_Instalado_Video</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo_del_Producto_Video</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instaled_Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Producto_Instalado_Video</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Start_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Formato_con_condiciones_del_servicio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formato_con_condiciones_del_servicio_video</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_In_Place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Producto_esta_en_el_lugar_de_instalacion_video_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Instalation_Kit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>KIT_de_Instalacion_Video_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Work_Type_Category</name>
        <label>Check Work Type Category</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>UpdateWorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Video</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Video</targetReference>
            </connector>
            <label>Video</label>
        </rules>
        <rules>
            <name>Muebles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Muebles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Muebles</targetReference>
            </connector>
            <label>Muebles</label>
        </rules>
        <rules>
            <name>Lavadoras</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lavadoras</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Lavadoras</targetReference>
            </connector>
            <label>Lavadoras</label>
        </rules>
        <rules>
            <name>Nevecones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nevecones</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Nevecones</targetReference>
            </connector>
            <label>Nevecones</label>
        </rules>
        <rules>
            <name>Lavaplatos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lavaplatos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Lavaplatos</targetReference>
            </connector>
            <label>Lavaplatos</label>
        </rules>
        <rules>
            <name>Aires_Acondicionados</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aires Acondicionados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visitas Aires Acondicionados</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Aire_Acondicionado</targetReference>
            </connector>
            <label>Aires Acondicionados y Visita Aires</label>
        </rules>
        <rules>
            <name>Horno_Secadora_Estufa_Calentadores</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Horno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estufa + Corte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estufa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calentadores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Gosadomesticos</targetReference>
            </connector>
            <label>Horno, Secadora, Estufa Corte y Calentadores</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questionnaire_already_answered</name>
        <label>Questionnaire already answered</label>
        <locationX>1524</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Message_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Not_answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.ALK_Start_Questionnaire_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Type</targetReference>
            </connector>
            <label>Not answered</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RespuestaPregunta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ALK_Product_Good_Condition__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Cuestionario de {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Cuestionario de Inicio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Respuesta_de_Cuestoniario</name>
        <label>Create Respuesta de Cuestoniario</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>RespuestaCreated</assignRecordIdToReference>
        <connector>
            <targetReference>Attach_files_screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ALK_Questionnaire_Type__c</field>
            <value>
                <stringValue>Cuestionario de Inicio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Work_Order__c</field>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ALK_Questionary_Answer__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>1524</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Questionnaire_already_answered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ALK_Product_Good_Condition__c</queriedFields>
        <queriedFields>ALK_Product_Ignites__c</queriedFields>
        <queriedFields>ALK_Electricity_Near_Instalation__c</queriedFields>
        <queriedFields>ALK_Gas_Near_Instalation__c</queriedFields>
        <queriedFields>ALK_Instalation_Kit__c</queriedFields>
        <queriedFields>ALK_Perfect_Aesthetic_Condition__c</queriedFields>
        <queriedFields>ALK_Product_Working_Properly__c</queriedFields>
        <queriedFields>ALK_Basic_Training__c</queriedFields>
        <queriedFields>ALK_All_Accessories__c</queriedFields>
        <queriedFields>ALK_Send_Quote_Email__c</queriedFields>
        <queriedFields>ALK_Connected_Devices__c</queriedFields>
        <queriedFields>ALK_All_Furniture_Pieces__c</queriedFields>
        <queriedFields>ALK_Product_Assembled__c</queriedFields>
        <queriedFields>ALK_Drain_Point__c</queriedFields>
        <queriedFields>ALK_Product_Level__c</queriedFields>
        <queriedFields>ALK_Authorized_Person__c</queriedFields>
        <queriedFields>ALK_Service_Conditions_Quote__c</queriedFields>
        <queriedFields>ALK_Handler_Corresponds_Condenser__c</queriedFields>
        <queriedFields>ALK_Air_Voltage_Corresponds_Instalation__c</queriedFields>
        <queriedFields>ALK_Height_Asked_by_Customer__c</queriedFields>
        <queriedFields>ALK_End_Questionnaire_Done__c</queriedFields>
        <queriedFields>ALK_Start_Questionnaire_Done__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Work_Type_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>WorkType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ALK_Work_Type_Category__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWorkOrder</name>
        <label>UpdateWorkOrder</label>
        <locationX>974</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Create_Respuesta_de_Cuestoniario</targetReference>
        </connector>
        <inputReference>WorkOrderRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Attach_files_screen_0</name>
        <label>Attach files screen</label>
        <locationX>974</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UploadFileVideo_0_0_0_0_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cargar fotos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RespuestaCreated</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_screen</name>
        <label>Message screen</label>
        <locationX>2074</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(221, 30, 30);&quot;&gt;El cuestionario ya ha sido respondido para esta orden de trabajo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Aire_Acondicionado</name>
        <label>Questions Screen Aire Acondicionado</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Questions_Screen_Aire_Acondicionado_2</targetReference>
        </connector>
        <fields>
            <name>Formato_con_condiciones_del_servicio_aires</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Formato con condiciones del servicio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Instalado_Aire_Acondicionado</name>
            <dataType>String</dataType>
            <fieldText>Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modelo_del_Producto_Aire_Acondicionado</name>
            <dataType>String</dataType>
            <fieldText>Modelo del Producto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Serial_Producto_Aire_Acondicionado</name>
            <dataType>String</dataType>
            <fieldText>Serial Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Aire_Acondicionado_2</name>
        <label>Questions Screen Aire Acondicionado 2</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Aire_Acondicionado</targetReference>
        </connector>
        <fields>
            <name>Producto_en_buen_estado_Aire_Acondicionado</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto en buen estado?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Punto_electrico_en_el_lugar_de_instalacion_Aire_Acondicionado</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuenta con punto eléctrico en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_esta_en_el_lugar_de_instalacion_Aire_Acondicionado</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto esta en el lugar de instalación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Corresponde_la_manejadora_con_la_condensadora_Aire_Acondicionado</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Corresponde la manejadora con la condensadora?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>El_voltaje_del_Aire_corresponde_al_voltaje_del_lugar_de_instalaci_n</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>El voltaje del Aire corresponde al voltaje del lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Gasodomesticos_2</name>
        <label>Questions Screen Gasodomesticos 2</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Gasodomesticos</targetReference>
        </connector>
        <fields>
            <name>Producto_en_buen_estado_Gasodomesticos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto en buen estado?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Enciende_Gasodomesticos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto Enciende?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Punto_electrico_en_el_lugar_de_instalacion_Gasodomesticos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuenta con punto eléctrico en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Punto_a_gas_en_el_lugar_de_instalaci_n_Gasodomesticos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuenta con punto a gas en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_esta_en_el_lugar_de_Instalaci_n_Gasodomesticos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto esta en el lugar de Instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KIT_de_Instalaci_n_Gasodomesticos</name>
            <dataType>String</dataType>
            <fieldText>KIT de Instalación</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Gosadomesticos</name>
        <label>Questions Screen Gasodomesticos</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Questions_Screen_Gasodomesticos_2</targetReference>
        </connector>
        <fields>
            <name>Formato_con_condiciones_del_servicio_gasodomesticos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Formato con condiciones del servicio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Instalado_Gasodomesticos</name>
            <dataType>String</dataType>
            <fieldText>Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modelo_del_Producto_Gasodomesticos</name>
            <dataType>String</dataType>
            <fieldText>Modelo del Producto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Serial_Producto_Gasodomesticos</name>
            <dataType>String</dataType>
            <fieldText>Serial Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Lavadoras</name>
        <label>Questions Screen Lavadoras</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Questions_Screen_Lavadoras_2</targetReference>
        </connector>
        <fields>
            <name>Formato_con_condiciones_del_servicio_lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Formato con condiciones del servicio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Instalado_Lavadoras</name>
            <dataType>String</dataType>
            <fieldText>Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modelo_del_Producto_Lavadoras</name>
            <dataType>String</dataType>
            <fieldText>Modelo del Producto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Serial_Producto_Lavadoras</name>
            <dataType>String</dataType>
            <fieldText>Serial Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Lavadoras_2</name>
        <label>Questions Screen Lavadoras 2</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Lavadoras</targetReference>
        </connector>
        <fields>
            <name>Producto_en_buen_estado_Lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto en buen estado?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Enciende_Lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto Enciende?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Punto_electrico_en_el_lugar_de_instalacion_Lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuenta con punto eléctrico en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cuenta_con_punto_de_desag_e_en_el_lugar_de_instalacion_Lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuenta con punto de desagüe  en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_esta_en_el_lugar_de_instalacion_Lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto esta en el lugar de instalación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Lavaplatos</name>
        <label>Questions Screen Lavaplatos</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Questions_Screen_Lavaplatos_2</targetReference>
        </connector>
        <fields>
            <name>Formato_con_condiciones_del_servicio_lavaplatos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Formato con condiciones del servicio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Instalado_Lavaplatos</name>
            <dataType>String</dataType>
            <fieldText>Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modelo_del_Producto_Lavaplatos</name>
            <dataType>String</dataType>
            <fieldText>Modelo del Producto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Serial_Producto_Lavaplatos</name>
            <dataType>String</dataType>
            <fieldText>Serial Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Lavaplatos_2</name>
        <label>Questions Screen Lavaplatos 2</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Lavaplatos</targetReference>
        </connector>
        <fields>
            <name>Producto_en_buen_estado_Lavaplatos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto en buen estado?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Punto_electrico_en_el_lugar_de_instalacion_Lavaplatos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuenta con punto eléctrico en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cuenta_con_punto_de_agua_en_el_lugar_de_instalaci_n_lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuenta con punto de agua en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_esta_en_el_lugar_de_instalacion_Lavaplatos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto esta en el lugar de instalación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KIT_de_Instalacion_Lavaplatos</name>
            <dataType>String</dataType>
            <fieldText>KIT de Instalación</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Muebles</name>
        <label>Questions Screen Muebles</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Questions_Screen_Muebles_2</targetReference>
        </connector>
        <fields>
            <name>Formato_con_condiciones_del_servicio_muebles</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Formato con condiciones del servicio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Instalado_Muebles</name>
            <dataType>String</dataType>
            <fieldText>Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modelo_del_Producto_Muebles</name>
            <dataType>String</dataType>
            <fieldText>Modelo del Producto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Muebles_2</name>
        <label>Questions Screen Muebles 2</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Muebles</targetReference>
        </connector>
        <fields>
            <name>Producto_en_buen_estado_muebles</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto en buen estado?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Piezas_del_mueble_completas_Muebles</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Piezas del mueble completas?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_esta_en_el_lugar_de_instalacion_muebles</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto esta en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KIT_de_Instalacion_Muebles</name>
            <dataType>String</dataType>
            <fieldText>KIT de Instalación</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Nevecones</name>
        <label>Questions Screen Nevecones</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Questions_Screen_Nevecones_2</targetReference>
        </connector>
        <fields>
            <name>Formato_con_condiciones_del_servicio_nevecones</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Formato con condiciones del servicio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Instalado_Nevecones</name>
            <dataType>String</dataType>
            <fieldText>Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modelo_del_Producto_Nevecones</name>
            <dataType>String</dataType>
            <fieldText>Modelo del Producto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Serial_Producto_Nevecones</name>
            <dataType>String</dataType>
            <fieldText>Serial Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Nevecones_2</name>
        <label>Questions Screen Nevecones 2</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Nevecones</targetReference>
        </connector>
        <fields>
            <name>Producto_en_buen_estado_Nevecones</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto en buen estado?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Enciende_Nevecones</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto Enciende?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Punto_electrico_en_el_lugar_de_instalacion_Nevecones</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuenta con punto eléctrico en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cuenta_con_punto_de_agua_en_el_lugar_de_instalaci_n_Nevecones</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuenta con punto de agua en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_esta_en_el_lugar_de_instalacion_Nevecones</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto esta en el lugar de instalación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KIT_de_Instalacion_Nevecones</name>
            <dataType>String</dataType>
            <fieldText>KIT de Instalación</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Video</name>
        <label>Questions Screen Video</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Questions_Screen_Video_2</targetReference>
        </connector>
        <fields>
            <name>Formato_con_condiciones_del_servicio_video</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Formato con condiciones del servicio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Instalado_Video</name>
            <dataType>String</dataType>
            <fieldText>Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Modelo_del_Producto_Video</name>
            <dataType>String</dataType>
            <fieldText>Modelo del Producto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Serial_Producto_Instalado_Video</name>
            <dataType>String</dataType>
            <fieldText>Serial Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Video_2</name>
        <label>Questions Screen 2</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Video</targetReference>
        </connector>
        <fields>
            <name>Producto_en_buen_estado_video_0</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto en buen estado?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_Enciente_video_0</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto Enciende?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Punto_electrico_en_el_lugar_de_instalacion_Video_0</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cuenta con punto eléctrico en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Producto_esta_en_el_lugar_de_instalacion_video_0</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Producto esta en el lugar de instalación?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>KIT_de_Instalacion_Video_0</name>
            <dataType>String</dataType>
            <fieldText>KIT de Instalación</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1398</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CreateContentLinkRecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CurrentContentDocument</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopContentDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaRecordCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ALK_Questionary_Answer__c</objectType>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
