force-app/main/default/flows/ALK_Call_Vicidial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Vicidial_Integration_Company_Account</name>
        <label>Call Vicidial Integration - Company Account</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <actionName>ALK_VicidialService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Integration_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>agentUserNo</name>
            <value>
                <elementReference>$User.ALK_Agente_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseNumber</name>
            <value>
                <elementReference>Get_Case.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Select_Phone_Company_Account</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Call_Vicidial_Integration_Person_Account</name>
        <label>Call Vicidial Integration - Person Account</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <actionName>ALK_VicidialService</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Integration_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>agentUserNo</name>
            <value>
                <elementReference>$User.ALK_Agente_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseNumber</name>
            <value>
                <elementReference>Get_Case.CaseNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Select_Phone_Person_Account</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>movil_ca</name>
        <choiceText>Celular: {!Get_Case.Contact.MobilePhone}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Case.Contact.MobilePhone</elementReference>
        </value>
    </choices>
    <choices>
        <name>movil_pa</name>
        <choiceText>Celular: {!Get_Case.Account.PersonMobilePhone}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Case.Account.PersonMobilePhone</elementReference>
        </value>
    </choices>
    <choices>
        <name>telefono2_pa</name>
        <choiceText>Teléfono 2: {!Get_Case.Account.ALK_Second_Phone__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Case.Account.ALK_Second_Phone__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>telefono_ca</name>
        <choiceText>Teléfono: {!Get_Case.Contact.Phone}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Case.Contact.Phone</elementReference>
        </value>
    </choices>
    <choices>
        <name>telefono_pa</name>
        <choiceText>Teléfono: {!Get_Case.Account.Phone}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Case.Account.Phone</elementReference>
        </value>
    </choices>
    <choices>
        <name>telefonoparticular_pa</name>
        <choiceText>Teléfono Particular: {!Get_Case.Account.PersonHomePhone}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Case.Account.PersonHomePhone</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Person_Account</name>
        <label>Person Account?</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Company_Account_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Person_Account_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>recordId_is_null</name>
        <label>recordId is null?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Company_Number_is_Null</name>
        <label>Select Company Number is Null?</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Call_Vicidial_Integration_Company_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Select_PA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Phone_Company_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Erro_Numero</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Person_Number_is_Null</name>
        <label>Select Person Number is Null?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Call_Vicidial_Integration_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Select_PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Phone_Person_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Erro_Numero</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>ALK Call Vicidial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Call Vicidial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Company_Account_Screen</name>
        <label>Company Account Screen</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Select_Company_Number_is_Null</targetReference>
        </connector>
        <fields>
            <name>header_personaccount_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Llamar al Cliente&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Phone_Company_Account</name>
            <choiceReferences>movil_ca</choiceReferences>
            <choiceReferences>telefono_ca</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Llamar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Erro_Numero</name>
        <label>Erro Número</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>Header_Error_Numero</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Error de Número&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Por favor, seleccione un número válido.&lt;/p&gt;&lt;p&gt;&lt;br/&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Header_Vicidial</name>
        <label>Header_Vicidial</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>recordId_is_null</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Llamar al Cliente&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Llamar al Cliente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Integration_Error</name>
        <label>Integration_Error</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>Header_Integration_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Error de Integración&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Ocurrió un error en la integración. Por favor, hable con un administrador Salesforce&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Person_Account_Screen</name>
        <label>Person Account Screen</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Select_Person_Number_is_Null</targetReference>
        </connector>
        <fields>
            <name>header_personaccount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Llamar al Cliente&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Phone_Person_Account</name>
            <choiceReferences>telefono2_pa</choiceReferences>
            <choiceReferences>telefonoparticular_pa</choiceReferences>
            <choiceReferences>movil_pa</choiceReferences>
            <choiceReferences>telefono_pa</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Llamar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Header_Vicidial</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
