force-app/main/default/flows/ALK_WO_Update_SA_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Coordinator</name>
        <label>Notify Coordinator</label>
        <locationX>570</locationX>
        <locationY>2207</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>PostMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationHeader</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>UsersToNotify</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_ID_to_text_collection</name>
        <label>Assign ID to text collection</label>
        <locationX>790</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>UsersToNotify</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopUsers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SA_To_eb_Updated</name>
        <label>SA To eb Updated</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>UpdatedSA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Addr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Addr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SA_to_Update_Duration</name>
        <label>SA to Update Duration</label>
        <locationX>442</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>UpdatedSA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>update_Duration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Duration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SA_Updated_ST</name>
        <label>SA Updated ST</label>
        <locationX>790</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>UpdatedSA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Service_territory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Durations_0_0</name>
        <label>Update Durations</label>
        <locationX>442</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>update_Duration.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Duration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>update_Duration.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DurationInMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>update_Duration.DurationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.DurationType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_to_Update_Duration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SA_Address_0_0_0</name>
        <label>Update SA Address</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Update_Addr.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Addr.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Addr.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Addr.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Addr.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_To_eb_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ST</name>
        <label>Update ST</label>
        <locationX>790</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Update_Service_territory.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_Updated_ST</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_changed_0_0</name>
        <label>is changed</label>
        <locationX>706</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_changed_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Street</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.City</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Country</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Country</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PostalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Addr</targetReference>
            </connector>
            <label>Address changed</label>
        </rules>
        <rules>
            <name>Duration_changed_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Duration</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Duration</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DurationType</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DurationInMinutes</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.DurationInMinutes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Duration</targetReference>
            </connector>
            <label>Duration changed</label>
        </rules>
        <rules>
            <name>Work_Order_ST_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceTerritoryId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_partner_territory</targetReference>
            </connector>
            <label>Work Order ST changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_partner_territory</name>
        <label>Is partner territory</label>
        <locationX>900</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Not partner</defaultConnectorLabel>
        <rules>
            <name>Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceTerritory.ALK_Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_territory</targetReference>
            </connector>
            <label>Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_list_is_null</name>
        <label>User list is null</label>
        <locationX>702</locationX>
        <locationY>1967</locationY>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UsersToNotify</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_Type</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <interviewLabel>ALK_WO_UPDATE_SA_ADDRESSE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK_WO_Update_SA_Address</label>
    <loops>
        <name>LoopUsers</name>
        <label>LoopUsers</label>
        <locationX>702</locationX>
        <locationY>1391</locationY>
        <collectionReference>Get_Partner_User</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ID_to_text_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_Territory_Group_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Addr</name>
        <label>Update Addr</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>getRelatedSAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_SA_Address_0_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>update_Duration</name>
        <label>update Duration</label>
        <locationX>354</locationX>
        <locationY>575</locationY>
        <collectionReference>getRelatedSAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Durations_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SA</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Service_territory</name>
        <label>Update Service territory</label>
        <locationX>702</locationX>
        <locationY>695</locationY>
        <collectionReference>getRelatedSAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_ST</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SA_with_ST</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Share</name>
        <label>Create Account Share</label>
        <locationX>702</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>User_list_is_null</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_Service_Territory_Group_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>570</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Coordinator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALK_Notify_Aliado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_User</name>
        <label>Get Partner User</label>
        <locationX>702</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.ALK_Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ALK_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Coordinador</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Group_Id</name>
        <label>Get Service Territory Group Id</label>
        <locationX>702</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritory.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedSAs</name>
        <label>getRelatedSAs</label>
        <locationX>706</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_changed_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>706</locationX>
        <locationY>2735</locationY>
        <inputReference>UpdatedSA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_with_ST</name>
        <label>Update SA with ST</label>
        <locationX>702</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Get_Partner_User</targetReference>
        </connector>
        <inputReference>UpdatedSA</inputReference>
    </recordUpdates>
    <start>
        <locationX>580</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRelatedSAs</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Nueva Orden de Trabajo en su Territorio</text>
    </textTemplates>
    <textTemplates>
        <name>PostMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Orden de trabajo {!$Record.WorkOrderNumber} ha sido enviada a su territorio.</text>
    </textTemplates>
    <variables>
        <name>UpdatedSA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>UsersToNotify</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
