force-app/main/default/flows/ALK_Search_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SearchAccount_0</name>
        <label>SearchAccount</label>
        <locationX>1964</locationX>
        <locationY>398</locationY>
        <actionName>ALK_AccountService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_accountId_available</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Integration</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>Numero_de_Identificacion_screen</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accountId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>SearchAccountCase</name>
        <label>SearchAccountCase</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <actionName>ALK_AccountService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_accountId_available_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Integration</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>Numero_de_Identificacion_screen_case</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>accountId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>2426</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>newAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_Persona</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apellido_Persona</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.ALK_Identification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_identificacion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_0</name>
        <label>Assign Name</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>newAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nome_Persona_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Apellido_Persona_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.ALK_Identification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_identificacion_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NIT</name>
        <label>Assign NIT</label>
        <locationX>1898</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>newAccount.ALK_Identification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NIT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NIT_0</name>
        <label>Assign NIT</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>newAccount.ALK_Identification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NIT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Numero_de_Identificacion</name>
        <label>Assign Número de Identificación</label>
        <locationX>2294</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newAccount.ALK_Identification_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_de_Identificacion_screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_User_Allowed_to_create_Aliados_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Numero_de_Identificacion_Case</name>
        <label>Assign Número de Identificación (Case)</label>
        <locationX>710</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newAccount.ALK_Identification_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_de_Identificacion_screen_case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_User_Allowed_to_create_Aliados</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_ID</name>
        <label>Assign Record Type ID</label>
        <locationX>2294</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>newAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_ID_Case</name>
        <label>Assign Record Type ID (Case)</label>
        <locationX>710</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>newAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Id_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tipo_Identificacion</name>
        <label>Assign Tipo Identificación</label>
        <locationX>2162</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>newAccount.ALK_Identification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_identificacion_Empresa</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tipo_Identificacion_0</name>
        <label>Assign Tipo Identificación</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>newAccount.ALK_Identification_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_identificacion_Empresa_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type_Id_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceCedulaDeCiudadania</name>
        <choiceText>Cedula de ciudadanía</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cedula de ciudadanía</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceCedulaDeExtranjeria</name>
        <choiceText>Cedula de Extranjería</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cedula de Extranjería</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceEmpresa</name>
        <choiceText>Empresa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Empresa</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceNIT</name>
        <choiceText>NIT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NIT</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePasaporte</name>
        <choiceText>Pasaporte</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pasaporte</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePersonaNatural</name>
        <choiceText>Persona Natural</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Persona Natural</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceRUT</name>
        <choiceText>RUT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RUT</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceTarjetaDeIdentidad</name>
        <choiceText>Tarjeta de identidad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tarjeta de identidad</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_User_Allowed_to_create_Aliados</name>
        <label>Check if User Allowed to create Aliados</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>AccountRecordTypeScreen_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cannot create Aliados</defaultConnectorLabel>
        <rules>
            <name>Can_create_Aliados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.ALK_Create_Partner_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountRecordTypeScreen_Case_Aliados</targetReference>
            </connector>
            <label>Can create Aliados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_User_Allowed_to_create_Aliados_1</name>
        <label>Check if User Allowed to create Aliados</label>
        <locationX>2294</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>AccountRecordTypeScreen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cannot create Aliados</defaultConnectorLabel>
        <rules>
            <name>Can_create_Aliados_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.ALK_Create_Partner_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountRecordTypeScreen_Case_Aliados_1</targetReference>
            </connector>
            <label>Can create Aliados</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_accountId_available</name>
        <label>Is accountId available?</label>
        <locationX>1964</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Numero_de_Identificacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_accountId_available_Case</name>
        <label>Is accountId available? (Case)</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Numero_de_Identificacion_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_recordId_a_Case_0_0</name>
        <label>Is recordId a Case?</label>
        <locationX>1172</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>InsertPersonId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_recordIdCase_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsertPersonIdCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Account_Record_Type</name>
        <label>Which Account Record Type?</label>
        <locationX>2294</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Aliados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALK_Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputAccountAliados</targetReference>
            </connector>
            <label>Aliados</label>
        </rules>
        <rules>
            <name>Empresa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Empresa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputAccountEmpresa</targetReference>
            </connector>
            <label>Empresa</label>
        </rules>
        <rules>
            <name>Persona_Natural</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputAccountPersonaNatural</targetReference>
            </connector>
            <label>Persona Natural</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Account_Record_Type_0</name>
        <label>Which Account Record Type?</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Aliados_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALK_Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputAccountAliados_Case</targetReference>
            </connector>
            <label>Aliados</label>
        </rules>
        <rules>
            <name>Empresa_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Empresa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputAccountEmpresa_Case</targetReference>
            </connector>
            <label>Empresa</label>
        </rules>
        <rules>
            <name>Persona_Natural_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PersonAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InputAccountPersonaNatural_Case</targetReference>
            </connector>
            <label>Persona Natural</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>ALK_Partner</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>accountRecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesAccountAliados</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>accountRecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>formulaURLAccount</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;/&quot;&amp; {!GetAccount_Case.Id}, &quot;URLAccount&quot;,&quot;_parent&quot;)</expression>
    </formulas>
    <interviewLabel>ALK_Verification_Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Search Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>2294</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>GetAccountCreated</targetReference>
        </connector>
        <inputReference>newAccount</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Case</name>
        <label>Create Account (Case)</label>
        <locationX>710</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>GetAccountCreated_Case</targetReference>
        </connector>
        <inputReference>newAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Record_Type_Id</name>
        <label>Get Record Type Id</label>
        <locationX>2294</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Id_Case</name>
        <label>Get Record Type Id (Case)</label>
        <locationX>710</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_ID_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecordTypeDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>1634</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>linkScreenCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount_Case</name>
        <label>GetAccount (Case)</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>linkScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountCreated</name>
        <label>GetAccountCreated</label>
        <locationX>2294</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>linkScreenCase_NewAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccountCreated_Case</name>
        <label>GetAccountCreated (Case)</label>
        <locationX>710</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetAccount_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetAccount_Case.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetAccountCreated_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetAccountCreated_Case.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>AccountRecordTypeScreen_1</name>
        <label>AccountRecordTypeScreen</label>
        <locationX>2426</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Which_Account_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Header_RecordType</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Nueva Cuenta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_del_Registro</name>
            <choiceReferences>choicesAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo del Registro</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AccountRecordTypeScreen_Case</name>
        <label>AccountRecordTypeScreen (Case)</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Which_Account_Record_Type_0</targetReference>
        </connector>
        <fields>
            <name>Header_RecordType_Case</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Nueva Cuenta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_del_Registro_Case</name>
            <choiceReferences>choicesAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo del Registro</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AccountRecordTypeScreen_Case_Aliados</name>
        <label>AccountRecordTypeScreen (Case) - Aliados</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Which_Account_Record_Type_0</targetReference>
        </connector>
        <fields>
            <name>Header_RecordType_Case_Aliados</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Nueva Cuenta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_del_Registro_Case_Aliados</name>
            <choiceReferences>choicesAccountAliados</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo del Registro</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AccountRecordTypeScreen_Case_Aliados_1</name>
        <label>AccountRecordTypeScreen (Case) - Aliados</label>
        <locationX>2162</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Which_Account_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Header_RecordType_Case_Aliados_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Nueva Cuenta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Tipo_del_Registro_Aliados_1</name>
            <choiceReferences>choicesAccountAliados</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo del Registro</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Integration</name>
        <label>Error Integration</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>Header_Error_Integration</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Error de Integración&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Ocurrió un error en la integración. Por favor, hable con un administrador Salesforce&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputAccountAliados</name>
        <label>InputAccount Aliados</label>
        <locationX>1898</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Assign_NIT</targetReference>
        </connector>
        <fields>
            <name>Header_Aliados</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Nueva Cuenta: Aliados&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputAccountAliados_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InputAccountAliados_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputAccountAliados_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccount.Name</objectFieldReference>
                </fields>
                <fields>
                    <name>Numero_de_Identificacion_Aliados</name>
                    <fieldText>&lt;p&gt;Número de Identificación&lt;/p&gt;&lt;p&gt;{!Numero_de_Identificacion_screen}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputAccountAliados_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Crear Cuenta</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputAccountAliados_Case</name>
        <label>InputAccount Aliados (Case)</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Assign_NIT_0</targetReference>
        </connector>
        <fields>
            <name>Header_Aliados_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Nueva Cuenta: Aliados&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newAccount.Name</objectFieldReference>
        </fields>
        <fields>
            <name>Numero_de_Identificacion_Aliados_Case</name>
            <fieldText>&lt;p&gt;Número de Identificación&lt;/p&gt;&lt;p&gt;{!Numero_de_Identificacion_screen_case}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Crear Cuenta</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputAccountEmpresa</name>
        <label>InputAccount Empresa</label>
        <locationX>2162</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Assign_Tipo_Identificacion</targetReference>
        </connector>
        <fields>
            <name>Header_Empresa_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Nueva Cuenta: Empresa&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputAccountEmpresa_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InputAccountEmpresa_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputAccountEmpresa_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccount.Name</objectFieldReference>
                </fields>
                <fields>
                    <name>Tipo_identificacion_Empresa</name>
                    <choiceReferences>choiceNIT</choiceReferences>
                    <choiceReferences>choiceRUT</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo identificación</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Numero_de_Identificacion_Empresa</name>
                    <fieldText>&lt;p&gt;Número de Identificación&lt;/p&gt;&lt;p&gt;{!Numero_de_Identificacion_screen}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputAccountEmpresa_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Crear Cuenta</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputAccountEmpresa_Case</name>
        <label>InputAccount Empresa (Case)</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Assign_Tipo_Identificacion_0</targetReference>
        </connector>
        <fields>
            <name>Header_Empresa</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Nueva Cuenta: Empresa&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newAccount.Name</objectFieldReference>
        </fields>
        <fields>
            <name>Tipo_identificacion_Empresa_Case</name>
            <choiceReferences>choiceNIT</choiceReferences>
            <choiceReferences>choiceRUT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo identificación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Numero_de_Identificacion_Empresa_0</name>
            <fieldText>&lt;p&gt;Número de Identificación&lt;/p&gt;&lt;p&gt;{!Numero_de_Identificacion_screen_case}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Crear Cuenta</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputAccountPersonaNatural</name>
        <label>InputAccount Persona Natural</label>
        <locationX>2426</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Assign_Name</targetReference>
        </connector>
        <fields>
            <name>Header_PersonaNatural</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Nueva Cuenta: Persona Natural&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InputAccountPersonaNatural_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InputAccountPersonaNatural_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputAccountPersonaNatural_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nome_Persona</name>
                    <dataType>String</dataType>
                    <fieldText>Nombre</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Apellido_Persona</name>
                    <dataType>String</dataType>
                    <fieldText>Apellido</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccount.PersonEmail</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>newAccount.PersonMobilePhone</objectFieldReference>
                </fields>
                <fields>
                    <name>Tipo_identificacion</name>
                    <choiceReferences>choiceCedulaDeCiudadania</choiceReferences>
                    <choiceReferences>choiceCedulaDeExtranjeria</choiceReferences>
                    <choiceReferences>choicePasaporte</choiceReferences>
                    <choiceReferences>choiceTarjetaDeIdentidad</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Tipo identificación</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Numero_de_Identificacion_PersonaNatural</name>
                    <fieldText>&lt;p&gt;Número de Identificación&lt;/p&gt;&lt;p&gt;{!Numero_de_Identificacion_screen}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InputAccountPersonaNatural_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Crear Cuenta</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InputAccountPersonaNatural_Case</name>
        <label>InputAccount Persona Natural (Case)</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Assign_Name_0</targetReference>
        </connector>
        <fields>
            <name>Header_PersonaNatural_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Nueva Cuenta: Persona Natural&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Nome_Persona_0</name>
            <dataType>String</dataType>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Apellido_Persona_0</name>
            <dataType>String</dataType>
            <fieldText>Apellido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newAccount.PersonEmail</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>newAccount.PersonMobilePhone</objectFieldReference>
        </fields>
        <fields>
            <name>Tipo_identificacion_Case</name>
            <choiceReferences>choiceCedulaDeCiudadania</choiceReferences>
            <choiceReferences>choiceCedulaDeExtranjeria</choiceReferences>
            <choiceReferences>choicePasaporte</choiceReferences>
            <choiceReferences>choiceTarjetaDeIdentidad</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo identificación</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Numero_de_Identificacion_PersonaNatural_Case</name>
            <fieldText>&lt;p&gt;Número de Identificación&lt;/p&gt;&lt;p&gt;{!Numero_de_Identificacion_screen_case}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Crear Cuenta</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InsertPersonId</name>
        <label>InsertPersonId</label>
        <locationX>1964</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SearchAccount_0</targetReference>
        </connector>
        <fields>
            <name>Header01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Búsqueda de Cuenta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InsertPersonId_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InsertPersonId_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InsertPersonId_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numero_de_Identificacion_screen</name>
                    <dataType>String</dataType>
                    <fieldText>Número de Identificación</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;El número necesita ser menor o igual a 10.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Numero_de_Identificacion_screen}) &lt;= 10</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InsertPersonId_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InsertPersonIdCase</name>
        <label>InsertPersonIdCase</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SearchAccountCase</targetReference>
        </connector>
        <fields>
            <name>InsertPersonIdCase_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InsertPersonIdCase_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Header_Insert</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Búsqueda de Cuenta&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Numero_de_Identificacion_screen_case</name>
                    <dataType>String</dataType>
                    <fieldText>Número de Identificación</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;El número necesita ser menor o igual a 10.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Numero_de_Identificacion_screen_case}) &lt;= 10</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>linkScreen</name>
        <label>linkScreen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <fields>
            <name>HeaderBusquedaCuenta</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Búsqueda de Cuenta&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AccountInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Tipo del Registro: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!GetAccount_Case.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;​&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Nombre:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; {!GetAccount_Case.Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Número de Identificación:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!GetAccount_Case.ALK_Identification_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;​&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!textTemplateAccountCase}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Agregar al Caso</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>linkScreenCase</name>
        <label>linkScreenCase</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>openAccount</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Búsqueda de Cuenta&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Tipo del Registro: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!GetAccount.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Nombre:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!GetAccount.Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Número de Identificación:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!GetAccount.ALK_Identification_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!textTemplate}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>linkScreenCase_NewAccount</name>
        <label>linkScreenCase NewAccount</label>
        <locationX>2294</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>openAccount_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Búsqueda de Cuenta&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Tipo del Registro: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!GetAccountCreated.RecordType.Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Nombre:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!GetAccountCreated.Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Número de Identificación:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!GetAccountCreated.ALK_Identification_Number__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!textTemplateNewAccount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cerrar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_recordId_a_Case_0_0</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/lightning/r/Account/{!GetAccount}/view&quot; target=&quot;_self&quot;&gt;Haga clic aquí para acceder a la Cuenta&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateAccountCase</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/lightning/r/Account/{!GetAccount_Case}/view&quot; target=&quot;_self&quot;&gt;Haga clic aquí para acceder a la Cuenta&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateNewAccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/lightning/r/Account/{!GetAccountCreated}/view&quot; target=&quot;_self&quot;&gt;Haga clic aquí para acceder a la Cuenta&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
