force-app/main/default/flows/ALK_Capture_Product_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>ALK Leer Producto Instalado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Leer Producto Instalado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ALK_Instaled_Model__c</field>
            <value>
                <elementReference>Modelo_del_Producto_Instalado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Instaled_Product_Code__c</field>
            <value>
                <elementReference>Serial_Producto_Instalado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Instaled_Product__c</field>
            <value>
                <elementReference>Nombre_Producto_Instalado</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Capturar_Codigo_del_Producto</name>
        <label>Capturar Codigo del Producto</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>Nombre_Producto_Instalado</name>
            <dataType>String</dataType>
            <fieldText>Nombre del Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Modelo_del_Producto_Instalado</name>
            <dataType>String</dataType>
            <fieldText>Modelo del Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Serial_Producto_Instalado</name>
            <dataType>String</dataType>
            <fieldText>Serial Producto Instalado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Capturar_Codigo_del_Producto</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
