force-app/main/default/flows/ALK_Update_Complex_Work_Date_Ranges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_due_date_and_earliest_start_permitted</name>
        <label>Assign due date and earliest start permitted</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Loop_Service_Appointments.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dueDateDefaultTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Service_Appointments.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>earliestStartDefaultTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SAs_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SAs_to_update</name>
        <label>Assign SAs to update</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>UpdateSA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Service_Appointments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Service_Appointments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Date_Change_Allowed</name>
        <label>Is Date Change Allowed</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Appointments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Allowed</defaultConnectorLabel>
        <rules>
            <name>Not_Allowed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Sitio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incompleta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ejecutada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reprogramada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conciliada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetWorkOrder.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_change_not_allowed</targetReference>
            </connector>
            <label>Not Allowed</label>
        </rules>
    </decisions>
    <formulas>
        <description>Converts the dueDateText to Date/time in order to assign the value to SA</description>
        <name>dueDateDefaultTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE ({!dueDateText})</expression>
    </formulas>
    <formulas>
        <description>Converts the due date completed by the user in the date picker screen to string and adds the default time as 23:00:00 (GMT -5, 6 PM) in order to use it in the Date/time formula</description>
        <name>dueDateText</name>
        <dataType>String</dataType>
        <expression>TEXT ( {!Fecha_de_Vencimiento_1} ) + &quot; 23:00:00&quot;</expression>
    </formulas>
    <formulas>
        <description>Converts the earliestStartPermittedText to Date/time in order to assign the value to SA</description>
        <name>earliestStartDefaultTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE ( {!earliestStartPermittedText} )</expression>
    </formulas>
    <formulas>
        <description>Converts the earliest start permitted date completed by the user in the date picker screen to string and adds the default time as 13:00:00 (GMT -5, 08 AM)  in order to use it in the Date/time formula</description>
        <name>earliestStartPermittedText</name>
        <dataType>String</dataType>
        <expression>TEXT ( {!Inicio_Mas_Temprano_Permitido} ) + &quot; 13:00:00&quot;</expression>
    </formulas>
    <interviewLabel>ALK Update Complex Work Date Ranges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Update Complex Work Date Ranges</label>
    <loops>
        <name>Loop_Service_Appointments</name>
        <label>Loop Service Appointments</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Service_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_due_date_and_earliest_start_permitted</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Service_Appointment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Service_Appointments</name>
        <label>Get Service Appointments</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Date_Picker_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrder</name>
        <label>GetWorkOrder</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Date_Change_Allowed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>UpdateSA</inputReference>
    </recordUpdates>
    <screens>
        <name>Date_Picker_Screen</name>
        <label>Date Picker Screen</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Service_Appointments</targetReference>
        </connector>
        <fields>
            <name>Date_Picker_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Date_Picker_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inicio_Mas_Temprano_Permitido</name>
                    <dataType>Date</dataType>
                    <fieldText>Inicio más Temprano Permitido</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Fecha_de_Vencimiento_1</name>
                    <dataType>Date</dataType>
                    <fieldText>Fecha de Vencimiento</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Date_Picker_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Date_Picker_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Status_change_not_allowed</name>
        <label>Status change not allowed</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>dateChangeNotAllowedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(221, 45, 45);&quot;&gt;&lt;em&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;﻿No es posible cambiar las fechas de una orden de trabajo cuyo estado es &lt;u&gt;{!GetWorkOrder.Status}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;El rango de fechas para la búsqueda de horarios se actualizó correctamente&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateSA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
