force-app/main/default/flows/ALK_Case_Update_After_Factura.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Case_ID</name>
        <label>Check Case ID</label>
        <locationX>692</locationX>
        <locationY>324</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Case_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ALK_Case__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record_Field</targetReference>
            </connector>
            <label>Update Case Record</label>
        </rules>
    </decisions>
    <interviewLabel>ALK Case Update After Factura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Case Update After Factura</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_Record_Field</name>
        <label>Update Case Record Field</label>
        <locationX>255</locationX>
        <locationY>439</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ALK_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ALK_Factura__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>446</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Case_ID</targetReference>
        </connector>
        <object>ALK_Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
