force-app/main/default/flows/ALK_Envio_Codigo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendCodigo</name>
        <label>SendCodigo</label>
        <locationX>600</locationX>
        <locationY>2246</locationY>
        <actionName>ALK_VerificationCodeService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Codigo_de_Seguridad_2</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>getCaseRecord.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>getCaseRecord.ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mobilePhone</name>
            <value>
                <elementReference>get_Invoices_for_Case.ALK_Purchaser_Phone__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendByEmail</name>
            <value>
                <elementReference>isEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendBySMS</name>
            <value>
                <elementReference>isSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendByWhatsApp</name>
            <value>
                <elementReference>isWhatsapp</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>dateTimeCodeSent</assignToReference>
            <name>dateTimeCondeSent</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>emailMessageSent</assignToReference>
            <name>emailMessageSent</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>smsMessageSent</assignToReference>
            <name>smsMessageSent</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>EmailOUtput</assignToReference>
            <name>statusEmailMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SMSOutput</assignToReference>
            <name>statusSMSMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>WhatsappOutput</assignToReference>
            <name>statusWhatsAppMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VerificationCode</assignToReference>
            <name>verificationCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>WhatsappMessageSent</assignToReference>
            <name>WhatsAppMessageSent</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ALK_Canal_equals_Blank</name>
        <label>ALK Canal equals Blank</label>
        <locationX>600</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>ALK_Canal</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Email_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_False</name>
        <label>Email False</label>
        <locationX>457</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>isEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Channel_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_True_0</name>
        <label>Email True</label>
        <locationX>193</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>isEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALK_Canal</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Correo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Channel_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Email_True_0_0</name>
        <label>Email True</label>
        <locationX>468</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>ALK_Canal</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Correo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SMS_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>886</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>ALK_WongCodeIncrement</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_Too_many_Attempts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PhoneCall_False</name>
        <label>PhoneCall False</label>
        <locationX>600</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>isPhoneCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALK_WongCodeIncrement</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendCodigo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PhoneCall_True</name>
        <label>PhoneCall True</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>isPhoneCall</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Se_Cayo_La_Llamada_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_counter</name>
        <label>Reset counter</label>
        <locationX>754</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>ALK_WongCodeIncrement</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fallido_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SMS_False</name>
        <label>SMS False</label>
        <locationX>457</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>isSMS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Channel_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SMS_True</name>
        <label>SMS True</label>
        <locationX>193</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>isSMS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALK_Canal</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Channel_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SMS_True_0</name>
        <label>SMS True</label>
        <locationX>468</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>ALK_Canal</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>SMS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WhatsApp_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Whatsapp_false</name>
        <label>Whatsapp false</label>
        <locationX>457</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>isWhatsapp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Channel_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Whatsapp_True_0</name>
        <label>Whatsapp True</label>
        <locationX>193</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>isWhatsapp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ALK_Canal</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Channel_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Whatsapp_True_0_0</name>
        <label>Whatsapp True</label>
        <locationX>468</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>ALK_Canal</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_code_is_correct</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ALK_Se_Cayo_llamada</name>
        <choiceText>Se cayó la llamada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Se cayo la llamada</stringValue>
        </value>
    </choices>
    <choices>
        <name>ALK_SMS</name>
        <choiceText>SMS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS</stringValue>
        </value>
    </choices>
    <choices>
        <name>ALK_Whatsapp</name>
        <choiceText>Whatsapp</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Whatsapp</stringValue>
        </value>
    </choices>
    <choices>
        <name>Correo_choice</name>
        <choiceText>Correo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Correo Electronico</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Channel</name>
        <label>Check Channel</label>
        <locationX>325</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>SMS_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not SMS</defaultConnectorLabel>
        <rules>
            <name>is_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ALK_SMS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_True</targetReference>
            </connector>
            <label>is SMS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Channel_0</name>
        <label>Check Channel</label>
        <locationX>325</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Email_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not email</defaultConnectorLabel>
        <rules>
            <name>IS_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_True_0</targetReference>
            </connector>
            <label>IS Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Channel_0_0</name>
        <label>Check Channel</label>
        <locationX>325</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Whatsapp_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Whatsapp</defaultConnectorLabel>
        <rules>
            <name>is_WHATSAPP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ALK_Whatsapp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whatsapp_True_0</targetReference>
            </connector>
            <label>is WHATSAPP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Channel_0_0_0</name>
        <label>Check Channel</label>
        <locationX>325</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>PhoneCall_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Phone Call</defaultConnectorLabel>
        <rules>
            <name>is_PhoneCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choices</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ALK_Se_Cayo_llamada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PhoneCall_True</targetReference>
            </connector>
            <label>is PhoneCall</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Sent</name>
        <label>Email Sent?</label>
        <locationX>600</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>SMS_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emailMessageSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_True_0_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_code_is_correct</name>
        <label>if code is correct</label>
        <locationX>600</locationX>
        <locationY>3614</locationY>
        <defaultConnector>
            <targetReference>Increment_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Code incorrect</defaultConnectorLabel>
        <rules>
            <name>Se_Cayo_la_Llamada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALK_Se_Cayo_llamada_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Se_Cayo_La_Llamada_Task</targetReference>
            </connector>
            <label>Se Cayo la Llamada</label>
        </rules>
        <rules>
            <name>Code_correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALK_Insert_Code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VerificationCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Code_Correct_task</targetReference>
            </connector>
            <label>Code correct</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Too_many_Attempts</name>
        <label>if Too many Attempts</label>
        <locationX>886</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Codigo_de_Seguridad_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Too_many</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ALK_WongCodeIncrement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ALK_Max_Attempts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_counter</targetReference>
            </connector>
            <label>Too many</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Case_Closed</name>
        <label>is Case Closed</label>
        <locationX>803</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Closed_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Not_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseRecord.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Codigo_de_Seguridad</targetReference>
            </connector>
            <label>Not Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_factura_created</name>
        <label>Is factura created</label>
        <locationX>1174</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>ALK_No_Factura_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Invoices_for_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Case_Closed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_Sent</name>
        <label>SMS Sent?</label>
        <locationX>600</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>WhatsApp_Sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TrueSMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>smsMessageSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMS_True_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatsApp_Sent</name>
        <label>WhatsApp Sent?</label>
        <locationX>600</locationX>
        <locationY>3278</locationY>
        <defaultConnector>
            <targetReference>if_code_is_correct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TrueWhatsApp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhatsappMessageSent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Whatsapp_True_0_0</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>isLabel</name>
        <dataType>String</dataType>
        <expression>IF({!is_SMS},{!SMSOutput},IF({!isWhatsapp},{!WhatsappOutput},IF({!IS_Email},{!EmailOUtput},&quot;no message&quot;)))</expression>
    </formulas>
    <formulas>
        <name>SMSSend</name>
        <dataType>Boolean</dataType>
        <expression>IF({!ALK_SMS}=&apos;SMS&apos;,true,false)</expression>
    </formulas>
    <interviewLabel>ALK_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK_Envio_Codigo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Code_Correct_task</name>
        <label>Create Code Correct task</label>
        <locationX>490</locationX>
        <locationY>3734</locationY>
        <connector>
            <targetReference>C_digo_de_Seguridad_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ALK_Canal__c</field>
            <value>
                <elementReference>ALK_Canal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Status_Codigo__c</field>
            <value>
                <stringValue>Efectivo</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dateTimeCodeSent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Task_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Envio de Código de Seguridad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>getCaseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fallido_Task</name>
        <label>Create Fallido Task</label>
        <locationX>754</locationX>
        <locationY>4094</locationY>
        <connector>
            <targetReference>ALK_Too_Many_Attempts_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>ALK_Canal__c</field>
            <value>
                <elementReference>ALK_Canal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Status_Codigo__c</field>
            <value>
                <stringValue>Fallido</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Task_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Envio de Código de Seguridad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>getCaseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Se_Cayo_La_Llamada_Task</name>
        <label>Create Se Cayo La Llamada Task</label>
        <locationX>325</locationX>
        <locationY>4742</locationY>
        <connector>
            <targetReference>C_digo_de_Seguridad</targetReference>
        </connector>
        <inputAssignments>
            <field>ALK_Canal__c</field>
            <value>
                <elementReference>ALK_Canal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Status_Codigo__c</field>
            <value>
                <stringValue>Se Cayo La Llamada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Task_RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Envio de Código de Seguridad</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>getCaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>getCaseRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Invoices_for_Case</name>
        <label>get Invoices for Case</label>
        <locationX>1174</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Task_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ALK_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ALK_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Task_RecordType</name>
        <label>get Task RecordType</label>
        <locationX>1174</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_factura_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALK_Codigo_de_Seguridad</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCaseRecord</name>
        <label>getCaseRecord</label>
        <locationX>1174</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Invoices_for_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ALK_Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>1174</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getCaseRecord</targetReference>
        </connector>
        <fields>
            <name>ALK_Header_2_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Código de Seguridad&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Validar Facturas</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ALK_No_Factura_Screen</name>
        <label>No Factura Screen</label>
        <locationX>1546</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>ALK_Header_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Código de Seguridad&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ALK_No_Factura</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.ALK_Infobip_no_Factura}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ALK_Too_Many_Attempts_Screen</name>
        <label>Too Many Attempts</label>
        <locationX>754</locationX>
        <locationY>4214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ALK_Header_5</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Código de Seguridad&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ALK_Too_Many_Attempts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 54, 54); font-size: 16px;&quot;&gt;Demasiados intentos&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>C_digo_de_Seguridad</name>
        <label>Código de Seguridad</label>
        <locationX>325</locationX>
        <locationY>4862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ALK_Header_4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Código de Seguridad&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SeCalloScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 54, 54);&quot;&gt;Llamada interrumpida&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ALK_Se_Cayo_llamada_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>isPhoneCall</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>C_digo_de_Seguridad_0</name>
        <label>Código de Seguridad</label>
        <locationX>490</locationX>
        <locationY>3854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ALK_Header_4_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Código de Seguridad&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalsSCREEN_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(8, 160, 3);&quot;&gt;{!$Label.ALK_Code_Valid}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Closed_Case</name>
        <label>Closed Case</label>
        <locationX>1282</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>Screen_Header_Closed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Código de Seguridad&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Process_For_Closed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.alk_Case_Closed}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Codigo_de_Seguridad</name>
        <label>Código de Seguridad</label>
        <locationX>325</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Check_Channel</targetReference>
        </connector>
        <fields>
            <name>ALK_Header_1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Código de Seguridad&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>menu_Select_Required</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 73, 73);&quot;&gt;{!$Label.ALK_Code_Option_Selector}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choices</name>
            <choiceReferences>ALK_SMS</choiceReferences>
            <choiceReferences>ALK_Whatsapp</choiceReferences>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>ALK_Se_Cayo_llamada</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opciones</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Codigo_de_Seguridad_2</name>
        <label>Código de Seguridad</label>
        <locationX>600</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>ALK_Canal_equals_Blank</targetReference>
        </connector>
        <fields>
            <name>ALK_Header_3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Código de Seguridad&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Channel_Success_Choice</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(7, 163, 44);&quot;&gt;{!isLabel}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ALK_Insert_Code</name>
            <dataType>String</dataType>
            <fieldText>Ingrese el código</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ALK_Wrong_Code</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 49, 49);&quot;&gt;{!$Label.ALK_Code_Invalid}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ALK_WongCodeIncrement</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ALK_Se_Cayo_llamada_1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Se cayó la llamada</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Eithere check the code or the checkbox&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(ISBLANK({!ALK_Insert_Code}) &amp;&amp; {!ALK_Se_Cayo_llamada_1}==FALSE,FALSE,TRUE)</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1048</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ALK_Initial_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ALK_Canal</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ALK_Max_Attempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ALK_Status_Codigo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ALK_WongCodeIncrement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>dateTimeCodeSent</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailMessageSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailOUtput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>envio_codigo_task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>isEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isPhoneCall</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSMS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isWhatsapp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>smsMessageSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SMSOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VerificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WhatsappMessageSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WhatsappOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
