force-app/main/default/flows/ALK_Cambio_de_estado_mobile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Actual_Start_0</name>
        <label>Assign Actual Start</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>SARecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estado_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ALK_Update_Status_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Actual_Start_0_0</name>
        <label>Assign Actual Start</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>SARecord.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Status_and_motive_En_Viaje</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status</name>
        <label>Assign status</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>SARecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ALK_Update_Status_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>.</description>
        <name>Assign_status_and_motive</name>
        <label>Assign status and motives</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>SARecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estado_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ALK_Motivo_Incompletud__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivo_de_Incompletitud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ALK_Update_Status_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>.</description>
        <name>Assign_status_and_motive_0</name>
        <label>Assign status and motives</label>
        <locationX>1898</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>SARecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estado_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ALK_Update_Status_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_and_motive_En_Viaje</name>
        <label>Assign Status and motive</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>SARecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estado_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ALK_Motivo_Retraso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivo_de_Retraso_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ALK_Update_Status_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>.</description>
        <name>Assign_status_and_motives</name>
        <label>Assign status and motives</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SARecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estado_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ALK_Motivo_Incompletud__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivo_de_Incompletitud</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ALK_Motivo_Incompletud_otros__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motivo_de_Incompletitud_Otros</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SARecord.ALK_Update_Status_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cancelada</name>
        <choiceText>Cancelada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ejecutada</name>
        <choiceText>Ejecutada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ejecutada</stringValue>
        </value>
    </choices>
    <choices>
        <name>EnSitio</name>
        <choiceText>En Sitio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En Sitio</stringValue>
        </value>
    </choices>
    <choices>
        <name>EnViaje</name>
        <choiceText>En Viaje</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>En Viaje</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incompleta</name>
        <choiceText>Incompleta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incompleta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retrasada</name>
        <choiceText>Retrasada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retrasada</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Both_Questionnaires_done</name>
        <label>Both Questionnaires done?</label>
        <locationX>1722</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Questionnaire_must_be_executed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Both_done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentWorkOrder.ALK_End_Questionnaire_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentWorkOrder.ALK_Start_Questionnaire_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_and_motive_0</targetReference>
            </connector>
            <label>Both done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Incompleta_Selected</name>
        <label>Incompleta Selected</label>
        <locationX>1568</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Is_Ejecutada_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Incompleta_Selected_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Incompleta</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_motivo_de_incompletitud</targetReference>
            </connector>
            <label>Incompleta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ejecutada_Selected</name>
        <label>Is Ejecutada Selected</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Assign_status_and_motive_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Ejecutada_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Ejecutada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Ejecutada selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Otros_Selected</name>
        <label>Is Otros Selected</label>
        <locationX>1238</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_status_and_motive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Otro_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Motivo_de_Incompletitud</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Otro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_motivo_de_Incompletitud_Otros</targetReference>
            </connector>
            <label>Otro selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Status_check</name>
        <label>SA Status check</label>
        <locationX>1150</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Enviado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Change_Screen</targetReference>
            </connector>
            <label>Is Enviado</label>
        </rules>
        <rules>
            <name>Is_En_Viaje</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Viaje</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Change_Screen_0</targetReference>
            </connector>
            <label>Is En Viaje</label>
        </rules>
        <rules>
            <name>is_Retrasado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrasada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Change_Screen_0_0</targetReference>
            </connector>
            <label>is Retrasado</label>
        </rules>
        <rules>
            <name>En_Sitio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SARecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Sitio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Change_Screen_0_0_0</targetReference>
            </connector>
            <label>Is En Sitio</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Retrasada_0</name>
        <label>Selected Retrasada</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_Actual_Start_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Retrasada_Selected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Estado_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Retrasada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_motivo_de_retraso_0</targetReference>
            </connector>
            <label>Retrasada Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ALK_Motivo_Incompletitud</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ALK_Motivo_Incompletud__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>ALK_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Cambio de estado mobile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>get_ServiceAppointment</name>
        <label>get ServiceAppointment</label>
        <locationX>1150</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Status_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SARecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>ALK_Update_Status_Mobile__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>1722</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Both_Questionnaires_done</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SARecord.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>ParentWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ALK_End_Questionnaire_Done__c</queriedFields>
        <queriedFields>ALK_Start_Questionnaire_Done__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>1150</locationX>
        <locationY>1742</locationY>
        <inputReference>SARecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Fill_motivo_de_incompletitud</name>
        <label>Fill motivo de incompletitud</label>
        <locationX>1238</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Otros_Selected</targetReference>
        </connector>
        <fields>
            <name>Motivo_de_Incompletitud</name>
            <choiceReferences>ALK_Motivo_Incompletitud</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo de Incompletitud</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_motivo_de_Incompletitud_Otros</name>
        <label>Fill motivo de Incompletitud Otros</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status_and_motives</targetReference>
        </connector>
        <fields>
            <name>Motivo_de_Incompletitud_Otros</name>
            <dataType>String</dataType>
            <fieldText>Motivo de Incompletitud (Otros)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fill_motivo_de_retraso_0</name>
        <label>Fill motivo de retraso</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Status_and_motive_En_Viaje</targetReference>
        </connector>
        <fields>
            <name>Motivo_de_Retraso_0</name>
            <dataType>String</dataType>
            <fieldText>Motivo de Retraso</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questionnaire_must_be_executed</name>
        <label>Questionnaire must be executed</label>
        <locationX>1810</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Questionnaire_required</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(235, 91, 37);&quot;&gt;Es necesario completar los cuestionarios de inicio y fin de servicio para poder completar una orden de trabajo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Status_Change_Screen</name>
        <label>Status Change Screen</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_status</targetReference>
        </connector>
        <fields>
            <name>Estado</name>
            <choiceReferences>EnViaje</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Status_Change_Screen_0</name>
        <label>Status Change Screen</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Retrasada_0</targetReference>
        </connector>
        <fields>
            <name>Estado_0</name>
            <choiceReferences>EnSitio</choiceReferences>
            <choiceReferences>Retrasada</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Status_Change_Screen_0_0</name>
        <label>Status Change Screen</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Actual_Start_0</targetReference>
        </connector>
        <fields>
            <name>Estado_0_0</name>
            <choiceReferences>EnViaje</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Status_Change_Screen_0_0_0</name>
        <label>Status Change Screen</label>
        <locationX>1568</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Incompleta_Selected</targetReference>
        </connector>
        <fields>
            <name>Estado_0_0_0</name>
            <choiceReferences>Ejecutada</choiceReferences>
            <choiceReferences>Incompleta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_ServiceAppointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>SARecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
