force-app/main/default/flows/ALK_End_Questionnaire.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Answers_Lavadoras</name>
        <label>Assign Answers Lavadoras</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_End_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Perfect_Aesthetic_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_funcionando_correctamente_lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Working_Properly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_funcionando_correctamente_lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Basic_Training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_brinda_capacitaci_n_de_uso_b_sico_de_producto_lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_All_Accessories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entregan_con_accesorios_completos_del_producto_lavadoras</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_nivelado_lavadoras</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Muebles</name>
        <label>Assign Answers Muebles</label>
        <locationX>578</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_End_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Perfect_Aesthetic_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_en_perfecto_estado_estetico_Muebles</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Assembled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_armado_correctamente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Muebles_0_0</name>
        <label>Assign Answers Muebles</label>
        <locationX>1634</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_End_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Working_Properly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_funcionando_correctamente_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Perfect_Aesthetic_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_en_perfecto_estado_estetico_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Basic_Training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_brinda_capacitaci_n_de_uso_b_sico_de_producto_Gasodomesticos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Nevecones</name>
        <label>Assign Answers Nevecones</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_End_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Perfect_Aesthetic_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_funcionando_correctamente_nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Working_Properly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_funcionando_correctamente_nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Basic_Training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_brinda_capacitaci_n_de_uso_b_sico_de_producto_nevecones</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_All_Accessories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entregan_con_accesorios_completos_del_producto_nevecones</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Nevecones_0</name>
        <label>Assign Answers Nevecones</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_End_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Answers_Video</name>
        <label>Assign Answers Video</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_End_Questionnaire_Done__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Perfect_Aesthetic_Condition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_funcionando_correctamente_video</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Product_Working_Properly__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entrega_producto_funcionando_correctamente_video</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Basic_Training__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_brinda_capacitaci_n_de_uso_b_sico_de_producto_Video</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_All_Accessories__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_entregan_con_accesorios_completos_del_producto_Video</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Height_Asked_by_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_deja_a_petici_n_del_cliente_a_una_altura_de_video</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Connected_Devices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Se_deja_conectado_el_TV_a_los_siguientes_dispositivos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correo_Electr_nico_del_Cliente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email</name>
        <label>Assign email</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correo_Electr_nico_del_Cliente</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_email_valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_email_0</name>
        <label>Assign email</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ALK_Email_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correo_Electr_nico_del_Cliente_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_email_valid</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Work_Type_Category</name>
        <label>Check Work Type Category</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>UpdateWorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Video</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Video</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Video</targetReference>
            </connector>
            <label>Video</label>
        </rules>
        <rules>
            <name>Muebles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Muebles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Muebles</targetReference>
            </connector>
            <label>Muebles</label>
        </rules>
        <rules>
            <name>Lavadoras</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lavadoras</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Lavadoras</targetReference>
            </connector>
            <label>Lavadoras</label>
        </rules>
        <rules>
            <name>Nevecones_or_Lavaplatos_Aires</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nevecones</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lavaplatos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aires Acondicionados</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Secadora</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estufa + Corte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Estufa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Nevecones</targetReference>
            </connector>
            <label>Nevecones, Lavaplatos, Aire Acondicionados OR Estufa Corte y Calentadores</label>
        </rules>
        <rules>
            <name>Visita_Aires</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visitas Aires Acondicionados</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Answers_Nevecones_0</targetReference>
            </connector>
            <label>Visita Aires</label>
        </rules>
        <rules>
            <name>Horno_Secadora</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Horno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkType.ALK_Work_Type_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calentadores</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questions_Screen_Gasodomesticos</targetReference>
            </connector>
            <label>Horno y Secadora</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_email_valid</name>
        <label>Is email valid</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valid</defaultConnectorLabel>
        <rules>
            <name>Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValidateEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ValidateEmailAgain</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Correo_Electr_nico_del_Cliente</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ask_for_valid_email</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questionnaire_already_answered</name>
        <label>Questionnaire already answered</label>
        <locationX>1326</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Message_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Not_answered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderRecord.ALK_End_Questionnaire_Done__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Include_Email</targetReference>
            </connector>
            <label>Not answered</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RespuestaPregunta</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ALK_Product_Good_Condition__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>ValidateEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX(UPPER({!Correo_Electr_nico_del_Cliente}),&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;)</expression>
    </formulas>
    <formulas>
        <name>ValidateEmailAgain</name>
        <dataType>Boolean</dataType>
        <expression>REGEX(UPPER({!Correo_Electr_nico_del_Cliente_0}),&quot;^[A-Z0-9._%+-/!#$%&amp;&apos;*=?^_`{|}~]+@[A-Z0-9.-]+\\.[A-Z]{2,4}$&quot;)</expression>
    </formulas>
    <interviewLabel>ALK Cuestionario de Cierre {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Cuestionario de Cierre</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Respuesta_de_Cuestoniario</name>
        <label>Create Respuesta de Cuestoniario</label>
        <locationX>1106</locationX>
        <locationY>1454</locationY>
        <assignRecordIdToReference>RespuestaCreated</assignRecordIdToReference>
        <connector>
            <targetReference>Attach_files_screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ALK_Questionnaire_Type__c</field>
            <value>
                <stringValue>Cuestionario de Cierre</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Work_Order__c</field>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ALK_Questionary_Answer__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>1326</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Questionnaire_already_answered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ALK_Product_Good_Condition__c</queriedFields>
        <queriedFields>ALK_Product_Ignites__c</queriedFields>
        <queriedFields>ALK_Electricity_Near_Instalation__c</queriedFields>
        <queriedFields>ALK_Gas_Near_Instalation__c</queriedFields>
        <queriedFields>ALK_Instalation_Kit__c</queriedFields>
        <queriedFields>ALK_Perfect_Aesthetic_Condition__c</queriedFields>
        <queriedFields>ALK_Product_Working_Properly__c</queriedFields>
        <queriedFields>ALK_Basic_Training__c</queriedFields>
        <queriedFields>ALK_All_Accessories__c</queriedFields>
        <queriedFields>ALK_Send_Quote_Email__c</queriedFields>
        <queriedFields>ALK_Connected_Devices__c</queriedFields>
        <queriedFields>ALK_All_Furniture_Pieces__c</queriedFields>
        <queriedFields>ALK_Product_Assembled__c</queriedFields>
        <queriedFields>ALK_Drain_Point__c</queriedFields>
        <queriedFields>ALK_Product_Level__c</queriedFields>
        <queriedFields>ALK_Authorized_Person__c</queriedFields>
        <queriedFields>ALK_Service_Conditions_Quote__c</queriedFields>
        <queriedFields>ALK_Handler_Corresponds_Condenser__c</queriedFields>
        <queriedFields>ALK_Air_Voltage_Corresponds_Instalation__c</queriedFields>
        <queriedFields>ALK_Height_Asked_by_Customer__c</queriedFields>
        <queriedFields>ALK_End_Questionnaire_Done__c</queriedFields>
        <queriedFields>ALK_Start_Questionnaire_Done__c</queriedFields>
        <queriedFields>ALK_Email_Address__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Work_Type_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>WorkType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ALK_Work_Type_Category__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWorkOrder</name>
        <label>UpdateWorkOrder</label>
        <locationX>1106</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Create_Respuesta_de_Cuestoniario</targetReference>
        </connector>
        <inputReference>WorkOrderRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Ask_for_valid_email</name>
        <label>Ask for valid email</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_email_0</targetReference>
        </connector>
        <fields>
            <name>invalid_email_error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(218, 24, 24);&quot;&gt;Por favor introduzca un correo electrónico válido&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Correo_Electr_nico_del_Cliente_0</name>
            <dataType>String</dataType>
            <fieldText>Correo Electrónico del Cliente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Attach_files_screen_0</name>
        <label>Attach files screen</label>
        <locationX>1106</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UploadFileVideo_0_0_0_0_0</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cargar fotos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>RespuestaCreated</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Include_Email</name>
        <label>Include Email</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_email</targetReference>
        </connector>
        <fields>
            <name>Correo_Electr_nico_del_Cliente</name>
            <dataType>String</dataType>
            <fieldText>Correo Electrónico del Cliente</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>2074</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Questionnaire_answered</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(228, 30, 30);&quot;&gt;El cuestionario ya ha sido respondido para esta orden de trabajo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Gasodomesticos</name>
        <label>Questions Screen Gasodomesticos</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Muebles_0_0</targetReference>
        </connector>
        <fields>
            <name>Se_entrega_producto_en_perfecto_estado_estetico_Gasodomesticos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto en perfecto estado estetico?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_entrega_producto_funcionando_correctamente_Gasodomesticos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto funcionando correctamente?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_brinda_capacitaci_n_de_uso_b_sico_de_producto_Gasodomesticos</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se brinda capacitación de uso básico de producto?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Lavadoras</name>
        <label>Questions Screen Lavadoras</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Lavadoras</targetReference>
        </connector>
        <fields>
            <name>Se_entrega_producto_en_perfecto_estado_estetico_Lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto en perfecto estado estetico?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_entrega_producto_funcionando_correctamente_lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto funcionando correctamente?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_brinda_capacitaci_n_de_uso_b_sico_de_producto_lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se brinda capacitación de uso básico de producto?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_entregan_con_accesorios_completos_del_producto_lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entregan con accesorios completos del producto?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_entrega_producto_nivelado_lavadoras</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto nivelado?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Muebles</name>
        <label>Questions Screen Muebles</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Muebles</targetReference>
        </connector>
        <fields>
            <name>Se_entrega_producto_en_perfecto_estado_estetico_Muebles</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto en perfecto estado estetico?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_entrega_producto_armado_correctamente</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto armado correctamente?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Nevecones</name>
        <label>Questions Screen Nevecones</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Nevecones</targetReference>
        </connector>
        <fields>
            <name>Se_entrega_producto_en_perfecto_estado_estetico_Nevecones</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto en perfecto estado estetico?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_entrega_producto_funcionando_correctamente_nevecones</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto funcionando correctamente?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_brinda_capacitaci_n_de_uso_b_sico_de_producto_nevecones</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se brinda capacitación de uso básico de producto?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_entregan_con_accesorios_completos_del_producto_nevecones</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entregan con accesorios completos del producto?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questions_Screen_Video</name>
        <label>Questions Screen Video</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Answers_Video</targetReference>
        </connector>
        <fields>
            <name>Se_entrega_producto_en_perfecto_estado_estetico_Video</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto en perfecto estado estetico?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_entrega_producto_funcionando_correctamente_video</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entrega producto funcionando correctamente?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_brinda_capacitaci_n_de_uso_b_sico_de_producto_Video</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se brinda capacitación de uso básico de producto?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_entregan_con_accesorios_completos_del_producto_Video</name>
            <choiceReferences>RespuestaPregunta</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Se entregan con accesorios completos del producto?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_deja_a_petici_n_del_cliente_a_una_altura_de_video</name>
            <dataType>String</dataType>
            <fieldText>Se deja a petición del cliente a una altura de:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Se_deja_conectado_el_TV_a_los_siguientes_dispositivos</name>
            <dataType>String</dataType>
            <fieldText>Se deja conectado el TV a los siguientes dispositivos:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1200</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CreateContentLinkRecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>CurrentContentDocument</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopContentDocument</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RespuestaRecordCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ALK_Questionary_Answer__c</objectType>
    </variables>
    <variables>
        <name>validation_error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Por favor, introduce un correo electrónico válido</stringValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
