force-app/main/default/flows/ALK_ODS_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Clone_ODS_Invoice</name>
        <label>Assign Clone ODS Invoice</label>
        <locationX>1040</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>cloneInvoice.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneInvoice.ALK_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloneODS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneInvoice.ALK_Problem_Description_ODS_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloneODS.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Clone_ODS_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Clone_PQR_Invoice</name>
        <label>Assign Clone PQR Invoice</label>
        <locationX>776</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>cloneInvoice.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneInvoice.ALK_Problem_Description_ODS_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneInvoice.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_ODS_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cloneInvoice.ALK_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_ODS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Clone_PQR_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_False</name>
        <label>Assign False</label>
        <locationX>1040</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>validacionPolitica</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_New_ODS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New</name>
        <label>Assign New</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>isNewODS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inside_the_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Not_New</name>
        <label>Assign Not New</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>isNewODS</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inside_the_Policy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_True</name>
        <label>Assign True</label>
        <locationX>776</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>validacionPolitica</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_New_ODS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Warehouse_Name</name>
        <label>Assign Warehouse Name</label>
        <locationX>1040</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>warehouseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ALK_Almacen__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Warehouse_Name_0</name>
        <label>Assign Warehouse Name</label>
        <locationX>776</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>warehouseName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ALK_Almacen__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Location_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCloneODS</name>
        <label>Assign CloneODS</label>
        <locationX>1040</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>CloneODS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneODS.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recepción Tienda</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneODS.ALK_Reentry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneODS.ALK_Almacen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneODS.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_ODS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneODS.Sub_Estado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CloneODS.ALK_Validacion_Politica__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>validacionPolitica</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Clone_ODS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_ODS</name>
        <label>Copy ODS</label>
        <locationX>1040</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>CloneODS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_ODS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCloneODS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_ODS_Invoice</name>
        <label>Copy ODS Invoice</label>
        <locationX>1040</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>cloneInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ODS_Related_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Clone_ODS_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_PQR_Invoice</name>
        <label>Copy PQR Invoice</label>
        <locationX>776</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>cloneInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Related_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Clone_PQR_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Inside_the_Policy</name>
        <label>Inside the Policy?</label>
        <locationX>908</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Fuerapolitica</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Policy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dateDifference</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>maxNumberOfDays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insidePolicyScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_New_ODS</name>
        <label>is New ODS?</label>
        <locationX>908</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Assign_Warehouse_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_newODS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewODS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>casoODSSeguro</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_related_Invoice</name>
        <label>Is there a related Invoice?</label>
        <locationX>850</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>noInvoiceScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Related_Invoice.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Return_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Return_Number</name>
        <label>Is there a Return Number?</label>
        <locationX>330</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>User_Almacen_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Return_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Related_Invoice.ALK_Devolution_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>returnNumberInvoiceScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_ODS</name>
        <label>Is there an ODS?</label>
        <locationX>908</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ODS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_ODS.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_ODS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_ODS</name>
        <label>Open ODS?</label>
        <locationX>710</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Assign_Not_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_OpenODS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_ODS.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cambio Evitado Gestión Técnico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Search_ODS.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Solución al Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpenODS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Almacen_blank</name>
        <label>User Almacen blank?</label>
        <locationX>611</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>SearchInvoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Almacen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ALK_Almacen__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usuario_sin_Almacen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>dateDifference</name>
        <dataType>Number</dataType>
        <expression>TODAY() - DATEVALUE({!Verify_Related_Invoice.ALK_Invoice_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ALK Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK ODS Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Clone_ODS</name>
        <label>Create Clone ODS</label>
        <locationX>1040</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Get_ODS_Related_Invoice</targetReference>
        </connector>
        <inputReference>CloneODS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Clone_ODS_Invoice</name>
        <label>Create Clone ODS Invoice</label>
        <locationX>1040</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>CloneScreen</targetReference>
        </connector>
        <inputReference>cloneInvoice</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Clone_PQR_Invoice</name>
        <label>Create Clone PQR Invoice</label>
        <locationX>776</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>NewCaseHeader</targetReference>
        </connector>
        <inputReference>cloneInvoice</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_ODS</name>
        <label>Create ODS</label>
        <locationX>776</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Get_Invoice_ODS_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>ALK_Almacen__c</field>
            <value>
                <elementReference>Get_Location_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Clase__c</field>
            <value>
                <elementReference>Get_Case_Record.ALK_Clase__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Serial__c</field>
            <value>
                <elementReference>Serial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Validacion_Politica__c</field>
            <value>
                <elementReference>validacionPolitica</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case_Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Case_Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_ODS_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Recepción Tienda</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ODS Creada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Case_Record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>776</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ODS_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_ODS_Record_Type</name>
        <label>Get Invoice ODS Record Type</label>
        <locationX>776</locationX>
        <locationY>2966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_PQR_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALK_Invoice__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALK_Factura_ODS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>1040</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_ODS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>warehouseName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_0</name>
        <label>Get Location</label>
        <locationX>776</locationX>
        <locationY>2486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>warehouseName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ODS_Record_Type</name>
        <label>Get ODS Record Type</label>
        <locationX>776</locationX>
        <locationY>2726</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ODS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALK_ODS</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ODS_Related_Invoice</name>
        <label>Get ODS Related Invoice</label>
        <locationX>1040</locationX>
        <locationY>2846</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_ODS_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ALK_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_ODS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ALK_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_ODS</name>
        <label>Search ODS</label>
        <locationX>908</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_ODS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ALK_Serial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Serial</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Verify_Related_Invoice</name>
        <label>Verify Related Invoice</label>
        <locationX>850</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_related_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ALK_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ALK_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>casoODSSeguro</name>
        <label>casoODSSeguro</label>
        <locationX>776</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Assign_Warehouse_Name_0</targetReference>
        </connector>
        <fields>
            <name>insidePolicyMessage_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Crear Caso ODS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;El Serial no tiene un caso ODS. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;¿Seguro que deseja crear una orden de Servicio?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CloneScreen</name>
        <label>CloneScreen</label>
        <locationX>1040</locationX>
        <locationY>3326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CloneHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Nuevo Caso Reingreso ODS Creado&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!textTemplateCloneCase}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FirstScreen</name>
        <label>FirstScreen</label>
        <locationX>850</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Verify_Related_Invoice</targetReference>
        </connector>
        <fields>
            <name>FirstScreenHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Crear Caso ODS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Validar Caso ODS</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fuerapolitica</name>
        <label>Fuerapolitica</label>
        <locationX>1040</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Assign_False</targetReference>
        </connector>
        <fields>
            <name>Fuera</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Crear Caso ODS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;La factura &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;NO&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; está dentro de la política. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;¿Seguro que desea crear una orden de Servicio?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>insidePolicyScreen</name>
        <label>insidePolicyScreen</label>
        <locationX>776</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Assign_True</targetReference>
        </connector>
        <fields>
            <name>insidePolicyMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Crear Caso ODS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;La factura está dentro de la política. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;¿Seguro que &lt;/span&gt;desea&lt;span style=&quot;font-size: 14px;&quot;&gt; crear una orden de Servicio?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NewCaseHeader</name>
        <label>NewCaseHeader</label>
        <locationX>776</locationX>
        <locationY>3446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewCase</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Nuevo Caso ODS Creado&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!textTemplateCreateODS}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>noInvoiceScreen</name>
        <label>noInvoiceScreen</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>noInvoiceMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Crear Caso ODS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Este caso no tiene una factura relacionada.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OpenODS</name>
        <label>OpenODS</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>displayOpenODS</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; Caso ODS Abierto&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;ODS Status: &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Search_ODS.Status}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!textTemplateODSCase}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>returnNumberInvoiceScreen</name>
        <label>returnNumberInvoiceScreen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <fields>
            <name>returnNumberInvoiceMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Crear Caso ODS&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;La factura relacionada tiene un número de devolución: &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Verify_Related_Invoice.ALK_Devolution_Number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SearchInvoice</name>
        <label>SearchInvoice</label>
        <locationX>908</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Anterior</backButtonLabel>
        <connector>
            <targetReference>Search_ODS</targetReference>
        </connector>
        <fields>
            <name>SerialHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Crear Caso ODS&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Serial</name>
            <dataType>String</dataType>
            <fieldText>Serial</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Usuario_sin_Almacen</name>
        <label>Usuario sin Almacen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Header_Usuario</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Usuario sin Almacén&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Usuario no tiene un Almacén. Por favor contactar su Administrador Salesforce.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>724</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FirstScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>textTemplateCloneCase</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/lightning/r/Case/{!CloneODS.Id}/view&quot; target=&quot;_self&quot;&gt;Haga clic aquí para acceder nuevo Caso Reingreso ODS Creado&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateCreateODS</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/lightning/r/Case/{!Create_ODS}/view&quot; target=&quot;_self&quot;&gt;Haga clic aquí para acceder nuevo Caso ODS creado&lt;/a&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>textTemplateODSCase</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;a href=&quot;/lightning/r/Case/{!Search_ODS}/view&quot; target=&quot;_self&quot;&gt;Haga clic aquí para acceder a el Caso ODS abierto&lt;/a&gt;</text>
    </textTemplates>
    <variables>
        <name>cloneInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ALK_Invoice__c</objectType>
    </variables>
    <variables>
        <name>CloneODS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>isNewODS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxNumberOfDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>validacionPolitica</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>warehouseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
