force-app/main/default/flows/ALK_Case_Factura_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Case_Field</name>
        <label>Check Case Field</label>
        <locationX>509</locationX>
        <locationY>332</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Case_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ALK_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record_Field</targetReference>
            </connector>
            <label>Update Case Object</label>
        </rules>
    </decisions>
    <interviewLabel>ALK Case Factura Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Case Factura Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Case_record</name>
        <label>Get related Case record</label>
        <locationX>292</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ALK_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>487</locationX>
        <locationY>491</locationY>
        <inputReference>Get_related_Case_record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_Field</name>
        <label>Update Case Record Field</label>
        <locationX>760</locationX>
        <locationY>406</locationY>
        <inputReference>Get_related_Case_record</inputReference>
    </recordUpdates>
    <start>
        <locationX>440</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Get_related_Case_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ALK_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ALK_Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
