force-app/main/default/flows/ALK_WO_Recomendaciones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SA_Update_Collection_0</name>
        <label>SA Update Collection</label>
        <locationX>264</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SACollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_to_Update_SA_0_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Update_SA_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_General_Recomendations_0_0</name>
        <label>Update General Recomendations</label>
        <locationX>264</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Loop_to_Update_SA_0_0.ALK_General_Recommendations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWorkType.ALK_Service_Recommendation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SA_Update_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.ALK_Recomendaciones_Generales__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWorkType.ALK_Service_Recommendation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WO_Update</targetReference>
        </connector>
    </assignments>
    <interviewLabel>ALK_WO_Recomendaciones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK_WO_Recomendations_Update</label>
    <loops>
        <name>Loop_to_Update_SA_0_0</name>
        <label>Loop to Update SA</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <collectionReference>Get_SA_Related_to_WO_0_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_General_Recomendations_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SA_collection_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SA_Related_to_WO_0_0</name>
        <label>Get SA Related to WO</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Update_SA_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkType</name>
        <label>getWorkType</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA_collection_0</name>
        <label>Update SA collection</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <inputReference>SACollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>WO_Update</name>
        <label>WO Update</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_SA_Related_to_WO_0_0</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorkType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkTypeId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SACollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
