force-app/main/default/flows/ALK_SA_Update_WO_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Assign values to record variable to update dependent SA</description>
        <name>assignValuesSAtoUpdate</name>
        <label>assignValuesSAtoUpdate</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>SAtoUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Appointment_Dependecy.FSL__Service_Appointment_2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAtoUpdate.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAtoUpdate.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dependent_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values to record variable to update dependent SA</description>
        <name>assignValuesSAtoUpdate_0</name>
        <label>assignValuesSAtoUpdate</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>SAtoUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ALK_Related_Service_Appointment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAtoUpdate.Latitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Latitude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAtoUpdate.Longitude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Longitude</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Dependent_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_WO_address</name>
        <label>Update WO address</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>getWorkOrder.Address</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorkOrder.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorkOrder.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorkOrder.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorkOrder.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getWorkOrder.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Complex_Work</name>
        <label>Is Complex Work</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Simple work</defaultConnectorLabel>
        <rules>
            <name>Complex_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WorkType.ALK_Complex_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latitude</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Latitude</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Longitude</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Longitude</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Latitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Longitude</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Original_SA_or_Dependent</targetReference>
            </connector>
            <label>Complex Work</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the field Related Service Appointment is filled, in order to identify if a SA is the original or the dependent one. 
In case it&apos;s the dependent, the field Related Service Appointment is not null.</description>
        <name>Original_SA_or_Dependent</name>
        <label>Original SA or Dependent</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dependent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ALK_Related_Service_Appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignValuesSAtoUpdate_0</targetReference>
            </connector>
            <label>Dependent</label>
        </rules>
        <rules>
            <name>Original</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ALK_Related_Service_Appointment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Appointment_Dependecy</targetReference>
            </connector>
            <label>Original</label>
        </rules>
    </decisions>
    <interviewLabel>ALK_SA_Update_WO_Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK_SA_Update_WO_Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Appointment_Dependecy</name>
        <label>Get Appointment Dependecy</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignValuesSAtoUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FSL__Service_Appointment_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FSL__Time_Dependency__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FSL__Service_Appointment_2__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_WO_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update dependent SA with geocords calculated in the original SA</description>
        <name>Update_Dependent_SA</name>
        <label>Update Dependent SA</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <inputReference>SAtoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Is_Complex_Work</targetReference>
        </connector>
        <inputReference>getWorkOrder</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Address</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Street</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>City</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Latitude</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Longitude</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Record variable to update related service appointment</description>
        <name>SAtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
