force-app/main/default/flows/ALK_Service_Appointment_Status_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Chatter_Post_Agendada_0</name>
        <label>Chatter Post Agendada</label>
        <locationX>4186</locationX>
        <locationY>1175</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Chatter_message_Agendada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>get_Work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Notify_Assigned_Resource</name>
        <label>Notify Assigned Resource</label>
        <locationX>2690</locationX>
        <locationY>1415</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Update_SA_to_delete_subscription</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Chatter_Message_Cancelada</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>get_Work_Order.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visibility</name>
            <value>
                <stringValue>allUsers</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Agendada_Status</name>
        <label>Assign Agendada Status</label>
        <locationX>4186</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agendada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ALK_Delete_Entity_Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ALK_Entity_Subscription_Reference_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agendada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_Agendada</name>
        <label>WO to Agendada</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agendada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_Cancelada</name>
        <label>WO to Cancelada</label>
        <locationX>2822</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_previous_status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_Conciliada</name>
        <label>WO to Conciliada</label>
        <locationX>3130</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Conciliada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_Ejecutada</name>
        <label>WO to Ejecutada</label>
        <locationX>2162</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ejecutada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Work_Order.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ActualEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_En_sitio</name>
        <label>WO to En sitio</label>
        <locationX>1634</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Sitio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Work_Order.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ActualStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_En_Viaje</name>
        <label>WO to En Viaje</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En Viaje</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_Incompleta</name>
        <label>WO to Incompleta</label>
        <locationX>1898</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Incompleta</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Work_Order.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ActualEndTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_No_Contactado</name>
        <label>WO to No Contactado</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Contactada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_NoAsignada</name>
        <label>WO to No Asignada</label>
        <locationX>2426</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Asignada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_pendiente</name>
        <label>WO to Pendiente</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_to_Retrasada</name>
        <label>WO to Retrasada</label>
        <locationX>3394</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>get_Work_Order.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retrasada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Share</name>
        <label>Check Account Share</label>
        <locationX>974</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Create_Account_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not shared</defaultConnectorLabel>
        <rules>
            <name>Already_shared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Share</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Entity_Subscription</targetReference>
            </connector>
            <label>Already shared?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Entity_Subscription</name>
        <label>Check Entity Subscription</label>
        <locationX>974</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>Create_Entity_Subscription_Enviada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not subscribed</defaultConnectorLabel>
        <rules>
            <name>Already_Subscribed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Entity_Subscription</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Subscribed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_WO_variable_is_not_null</name>
        <label>Check if WO variable is not null</label>
        <locationX>2888</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>NotNull</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>get_Work_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CloneSAId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agendada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAssignedResource</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_previous_status</name>
        <label>Check previous status</label>
        <locationX>2822</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Update_WO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_chatter_post</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Viaje</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Sitio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrasada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Assigned_Resource</targetReference>
            </connector>
            <label>Send chatter post</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_or_Arrival_Window_Changed</name>
        <label>Is Status or Arrival Window Changed</label>
        <locationX>3669</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_WO_variable_is_not_null</targetReference>
            </connector>
            <label>Status</label>
        </rules>
        <rules>
            <name>Arrival_Window</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND (7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ArrivalWindowStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ArrivalWindowStartTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ArrivalWindowEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ArrivalWindowEndTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ArrivalWindowEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ArrivalWindowStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ArrivalWindowStartTime</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ArrivalWindowEndTime</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Viaje</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrasada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Agendada_Status</targetReference>
            </connector>
            <label>Arrival Window</label>
        </rules>
    </decisions>
    <decisions>
        <description>When the service appointment status is updated from &quot;No Asignada&quot; to &quot;Agendada&quot;</description>
        <name>status_updated</name>
        <label>status updated</label>
        <locationX>1854</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contactado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Contactada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_No_Contactado</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No Contactado</label>
        </rules>
        <rules>
            <name>Pendiente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendiente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_pendiente</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Pendiente</label>
        </rules>
        <rules>
            <name>Agendado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agendada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_Agendada</targetReference>
            </connector>
            <label>Agendado</label>
        </rules>
        <rules>
            <name>Enviado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Share</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Enviado</label>
        </rules>
        <rules>
            <name>EnViaje</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Viaje</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_En_Viaje</targetReference>
            </connector>
            <label>En Viaje</label>
        </rules>
        <rules>
            <name>Ensitio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En Sitio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_En_sitio</targetReference>
            </connector>
            <label>En sitio</label>
        </rules>
        <rules>
            <name>Incompleta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incompleta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_Incompleta</targetReference>
            </connector>
            <label>Incompleta</label>
        </rules>
        <rules>
            <name>Ejecutada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ejecutada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_Ejecutada</targetReference>
            </connector>
            <label>Ejecutada</label>
        </rules>
        <rules>
            <name>No_Asignada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Asignada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_NoAsignada</targetReference>
            </connector>
            <label>No Asignada</label>
        </rules>
        <rules>
            <name>Cancelada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_Cancelada</targetReference>
            </connector>
            <label>Cancelada</label>
        </rules>
        <rules>
            <name>Conciliada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conciliada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_Conciliada</targetReference>
            </connector>
            <label>Conciliada</label>
        </rules>
        <rules>
            <name>Retrasada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retrasada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WO_to_Retrasada</targetReference>
            </connector>
            <label>Retrasada</label>
        </rules>
    </decisions>
    <formulas>
        <name>Canceled_Date</name>
        <dataType>String</dataType>
        <expression>IF ( NOT(ISNULL( {!$Record.ArrivalWindowStartTime})), TEXT(DAY(DATEVALUE( {!$Record.ArrivalWindowStartTime} ))) + &quot;/&quot; + TEXT(MONTH( DATEVALUE ({!$Record.ArrivalWindowStartTime} ))) + &quot;/&quot; + TEXT(YEAR( DATEVALUE({!$Record.ArrivalWindowStartTime} ))), TEXT (DAY ( DATEVALUE({!$Record.SchedStartTime}))) + &quot;/&quot; + TEXT (MONTH( DATEVALUE({!$Record.SchedStartTime}))) + &quot;/&quot; + TEXT (YEAR(DATEVALUE( {!$Record.SchedStartTime}))))</expression>
    </formulas>
    <formulas>
        <name>CurrDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - 5/24</expression>
    </formulas>
    <formulas>
        <name>FechaAgendada</name>
        <dataType>String</dataType>
        <expression>RIGHT ( TEXT( {!$Record__Prior.ArrivalWindowStartTime} ) , 10)</expression>
    </formulas>
    <formulas>
        <name>NetworkId</name>
        <dataType>String</dataType>
        <expression>IF (ISPICKVAL({!getAssignedResource.ServiceResource.RelatedRecord.UserType} ,&apos;PowerCustomerSuccess&apos;) || ISPICKVAL( {!getAssignedResource.ServiceResource.RelatedRecord.UserType}, &apos;PowerPartner&apos;), {!Get_NetworkId.Id},  NULL )</expression>
    </formulas>
    <interviewLabel>ALK Service Appointment Status Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALK Service Appointment Status Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Share</name>
        <label>Create Account Share</label>
        <locationX>1062</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Get_Entity_Subscription</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountAccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityAccessLevel</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>getAssignedResource.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Entity_Subscription_Enviada</name>
        <label>Create Entity Subscription</label>
        <locationX>1106</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>NetworkId</field>
            <value>
                <elementReference>NetworkId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>get_Work_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId</field>
            <value>
                <elementReference>getAssignedResource.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>EntitySubscription</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Share</name>
        <label>Get Account Share</label>
        <locationX>974</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAssignedResource.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Entity_Subscription</name>
        <label>Get Entity Subscription</label>
        <locationX>974</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Entity_Subscription</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SubscriberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAssignedResource.ServiceResource.RelatedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Work_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntitySubscription</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NetworkId</name>
        <label>Get NetworkId</label>
        <locationX>3669</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Status_or_Arrival_Window_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PortaldeAliados</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Network</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SAs</name>
        <label>Get SAs</label>
        <locationX>3669</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NetworkId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>CloneSAId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Work_Order</name>
        <label>get Work Order</label>
        <locationX>3669</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAssignedResource</name>
        <label>getAssignedResource</label>
        <locationX>1854</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>status_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>4186</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_WO_Status</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_to_delete_subscription</name>
        <label>Update SA to delete subscription</label>
        <locationX>2690</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
        <inputAssignments>
            <field>ALK_Delete_Entity_Subscription__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Entity_Subscription_Reference_Date__c</field>
            <value>
                <elementReference>CurrDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Previous_Service_Resource_UserId__c</field>
            <value>
                <elementReference>$Record.ALK_Service_Resource__r.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appointment_0_0_0</name>
        <label>Update Service Appointment</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_WO</targetReference>
        </connector>
        <inputAssignments>
            <field>ALK_Canceled_Appointment_Date__c</field>
            <value>
                <elementReference>Canceled_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Time_Window_Canceled__c</field>
            <value>
                <elementReference>$Record.ALK_Time_Window__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO</name>
        <label>Update WO</label>
        <locationX>1854</locationX>
        <locationY>2303</locationY>
        <inputReference>get_Work_Order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_Status</name>
        <label>Update WO Status</label>
        <locationX>4186</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Chatter_Post_Agendada_0</targetReference>
        </connector>
        <inputReference>get_Work_Order</inputReference>
    </recordUpdates>
    <start>
        <locationX>3543</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Work_Order</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ArrivalWindowEndTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ArrivalWindowStartTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Chatter_message_Agendada</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>La orden de trabajo programada para el día {!$Record__Prior.ArrivalWindowStartTime} fue reprogramada por el cliente.</text>
    </textTemplates>
    <textTemplates>
        <name>Chatter_Message_Cancelada</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>La orden de trabajo {!get_Work_Order.WorkOrderNumber} agendada para el horario {!$Record.ArrivalWindowStartTime} en la dirección {!$Record.Street} fue Cancelada.</text>
    </textTemplates>
    <variables>
        <name>CloneSAId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>createdEntitySubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EntitySubscription</objectType>
    </variables>
    <variables>
        <name>ParentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.ParentRecordId</elementReference>
        </value>
    </variables>
</Flow>
