force-app/main/default/flows/Record_Trigger_Service_Appointment_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Complex_Work</name>
        <label>Is Complex Work?</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Complex_Work</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Type_Details.ALK_Complex_Work__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Service_Appointments</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Service_Appointment_Exist</name>
        <label>Other Service Appointment Exist?</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Create_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes_Other_SA_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Service_Appointments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <interviewLabel>Record Trigger: Service Appointment: After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: Service Appointment: After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Appointment_Dependency</name>
        <label>Create Appointment Dependency</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>FSL__Dependency__c</field>
            <value>
                <stringValue>Same Start</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Root_Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Same_Resource__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_1__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Service_Appointment_2__c</field>
            <value>
                <elementReference>varNewServiceAppointment</elementReference>
            </value>
        </inputAssignments>
        <object>FSL__Time_Dependency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Appointment</name>
        <label>Create Service Appointment</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignRecordIdToReference>varNewServiceAppointment</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Appointment_Dependency</targetReference>
        </connector>
        <inputAssignments>
            <field>ALK_Communication_Information__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_General_Recommendations__c</field>
            <value>
                <elementReference>$Record.ALK_General_Recommendations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Related_Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ALK_Work_Order__c</field>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualEndTime</field>
            <value>
                <elementReference>$Record.ActualEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>$Record.ActualStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
            <value>
                <elementReference>$Record.ArrivalWindowEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
            <value>
                <elementReference>$Record.ArrivalWindowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>$Record.DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>$Record.Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationType</field>
            <value>
                <elementReference>$Record.DurationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>$Record.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Other_Service_Appointments</name>
        <label>Get Other Service Appointments</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Service_Appointment_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type_Details</name>
        <label>Get Work Type Details</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Complex_Work</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ALK_Complex_Work__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Type_Details</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNewServiceAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
